[2018-06-03 21:54] KinmanLam opened #1 "The Docker host machine only requires Nvidia Drivers"
Currently, the Docker install GPU support instructions here:
https://www.tensorflow.org/install/install_linux#gpu_support

Indicates it requires the full CUDA toolkit, cuDNN, and Nvidia drivers as outlined in:
https://www.tensorflow.org/install/install_linux#NVIDIARequirements

The document should be changed to indicate the host machine (running the container) requires only Nvidia drivers. See:
ht

[2018-06-04 21:26] ewilderj commented on #1
Please re-file this issue on tesnorflow/tensorflow. The community repo is for managing contributor processes.

[2018-06-04 21:26] #1 closed

[2018-07-31 15:06] wdirons opened #7 "Tracking Issue for PPC64LE builds"
Tracking Issue for PPC64LE builds

Following the new process in https://github.com/tensorflow/community/blob/master/sigs/build/community-builds.md
creating this issue to track the existing CPU and GPU community supported builds for PPC64LE.

Test Plan:
CPU and GPU Builds for each commit triggered by GITscm polling.
Nightly build and unit test runs for CPU and GPU Builds.
Issues opened for failing

[2018-07-31 15:51] sub-mod commented on #7
Under which project name will the wheel files be published in pypi ?

[2018-07-31 22:31] wdirons commented on #7
@sub-mod, I don't know yet which project name we will use for pypi. Ideally it would be tensorflow (for release builds) but for that to happen we would need to work out a process with the Tensorflow team.

[2018-08-02 21:39] gunan commented on #7
@ewilderj @martinwicke and @gunan
Thanks for creating the bug, and including all the contacts!

[2018-10-06 15:06] chriskoups opened #22 "Better Tensorboard Logging"
Maybe that issue is only personal due to the nature of my problem.
I am training (using keras) in triple loops and I have the inner loop executed just 5 times. Even if I said the Tensorboard to log data every 100+ loops, it will log the data of each first time of the triple loop.

Full explanation:
I have 400 simulation experiments that have 1000 timestamps each. The training must reset its states

[2018-10-10 09:54] awav opened #23 "Switching default [float | int] types in Tensorflow 2.0"
Hello everyone,

Not be able to switch between default types has been an issue for such projects like [GPflow](https://github.com/GPflow/GPflow/) since the beginning of the TensorFlow. I guess a way of changing default types in TensorFlow will make a lot of things easier.

That question was raised before, e.g. https://github.com/tensorflow/tensorflow/issues/9781, where usually maintainers argued t

[2018-10-23 11:01] bhack opened #28 "Adopt contributor covenant"
Can we adopt the [contributor covenant](https://www.contributor-covenant.org/) in Tensorflow?

[2018-10-23 11:01] bhack commented on #28
/cc @martinwicke @ewilderj

[2018-10-23 14:20] martinwicke commented on #28
TensorFlow's code of conduct is an adaptation the contributor covenant (see https://github.com/tensorflow/community/blob/master/CODE_OF_CONDUCT.md).

[2018-10-23 14:20] #28 closed

[2018-10-23 14:48] bhack commented on #28
We are not in https://www.contributor-covenant.org/adopters

[2018-10-23 20:28] bhack commented on #28
/cc @ContributorCovenant what do you think?

[2018-10-24 13:08] bhack opened #29 "Ecosystem Issue/PR Grooming Sprints and public roadmap"
I receive many mails of repeated Nagging assignee without maintainers activity.
How do you are handling Nagging Assignees?
Can you add an automatic label to have a quick internal overview of these issues?
Continuous ping to inactive maintainers doesn't give a good feeling about the library.

[2018-10-24 19:43] bhack commented on #28
/cc @CoralineAda Can you give us a feedback? What is the policy about derived guidelines?

[2018-10-24 19:54] CoralineAda commented on #28
Every community is free (and actually encouraged) to adapt the Contributor Covenant to their particular needs. From what I read, the Tensorflow CoC is true to the spirit of the original. I wouldn't have an issue with adding the project to the list of adopters. Instructions for doing so can be found here: https://github.com/ContributorCovenant/contributor_covenant#adding-a-project-to-the-list-of-ad

[2018-10-24 19:57] bhack commented on #28
Thanks. @martinwicke can I open a PR on that repository?

[2018-10-24 21:35] ewilderj commented on #28
@bhack sounds good!

[2018-10-24 21:45] bhack commented on #28
Done witih https://github.com/ContributorCovenant/contributor_covenant/pull/622

[2018-10-24 21:48] CoralineAda commented on #28
I went ahead and added the project to the Featured Adopters list on the main page too. 🖤

[2018-10-24 21:52] ewilderj commented on #28
Thank you @bhack @CoralineAda !

[2018-10-24 22:01] bhack commented on #29
@ewilderj Sorry to mention you but I don't know if you have already a ticket policy on this repo.

[2018-10-24 22:07] ewilderj commented on #22
Sorry, can you move this issue to the tensorflow/tensorflow project? It won't get attention in this project, "community" is for processes such as the RFCs and Special Interest Groups.

[2018-10-24 22:07] #22 closed

[2018-10-24 22:09] ewilderj commented on #23
Please could you move this issue to tensorflow/tensorflow? It won't get any attention in tensorflow/community ... or raise the issue on discuss@tensorflow.org.

[2018-10-24 22:09] #23 closed

[2018-10-24 22:10] ewilderj commented on #29
cc @martinwicke @dksb to comment on this issue. We are certainly aware of it. Perhaps Deepak has an update.

[2018-10-24 22:51] dksb commented on #29
@bhack Can you please share a few issues you are getting nagging messages for? We are revisiting the feature and see if any kind of nagging makes sense or not.

[2018-10-24 23:07] bhack commented on #29
@dksp This is the best sorted query approximation that I can do now (of course it doesn't analyze Nagging Assignees frequency):
 https://github.com/tensorflow/tensorflow/issues?page=2&q=is%3Aopen+Nagging+-label%3A%22stat%3Acontributions+welcome%22+sort%3Acreated-asc

Please share an improved one if you compose it.

[2018-10-26 14:32] bhack commented on #29
I.e. at the top of that query result:

[2018-10-26 14:34] bhack commented on #29
I think that when we have 479 days of "Nagging Assignee" something need to happen :smile:

[2018-11-01 23:29] bhack commented on #29
Probably also @av8ramit could be interested in this.

[2018-11-14 19:09] bhack commented on #29
Two subsequent Nagging Assignee 153 and 158 days:
https://github.com/tensorflow/tensorflow/issues/16087

[2018-11-28 22:47] bhack commented on #29
https://github.com/tensorflow/tensorflow/issues/11521

[2018-11-29 00:37] bhack commented on #29
@av8ramit Good. But I think that we need to know in some way what is the public status of an issue. Having 270 days of internal emails reminders will lot let us to solve the problem in general. If you see in [my query](https://github.com/tensorflow/tensorflow/issues?page=2&q=is%3Aopen+Nagging+-label%3A%22stat%3Acontributions+welcome%22+sort%3Acreated-asc) I had filtered out "Contributions welcome"

[2018-11-29 00:40] ewilderj commented on #29
I think this is a problem that @dksb is looking at. In my humble opinion, a project this large cannot escape the monotonically growing number of issues, however hard it tries to close them all. However we can certainly manage our messaging around them, I suppose. Can we characterize all these outlying issues in meaningful buckets?

[2018-11-29 00:47] bhack commented on #29
@ewilderj I agree with you and it is what i've tried to do with the query. The original scope was to create a special label with the bot so that we can have a periodical review (re-triage?) activity on this cluster cause I think sometime it just needs a re-evaluation, a closure, a stale notification (just for check if users are alive) or a reassignment.
I've this query but probably you can have a

[2018-11-29 06:04] dksb commented on #29
@bhack your suggestions are good. Nagging is not very useful and we will
turn public nagging off. But this is not a tooling problem but more of a
process and a resource problem.  "Contributions welcome" category is
tricky, most issues are FRs that cannot be closed right away. We are
working on addressing the issue backlog, while keeping up with the new
issues.

Cheers,
Deepak

On Thu, Nov 29, 2018

[2018-12-01 13:39] bhack commented on #29
Exactly, this cause I've excluded "Contributions welcome" from the query cause there we have clear communication there is currently any internal plan to schedule that activity. So we in that case the message is clear: "We are interested in that feature/to maintain that but we are waiting for a community PR". I think that there is also a cognitive bias for TF core team to receive repetitive notific

[2018-12-12 20:26] foxik opened #36 "Proposed Keras RNN interface does not provide `sequence_length`"
I am not sure if I am writing to a correct place, so please point me to a better place if this is not it.

According to the https://github.com/tensorflow/community/blob/master/rfcs/20180920-unify-rnn-interface.md RFC the TF RNN should become obsolete. However, it has a major important functionality -- the `sequence_length` parameter allowing to process sequences of different length in a single bat

[2018-12-14 21:32] foxik commented on #36
I just came across [Ragged Tensors](https://www.tensorflow.org/guide/ragged_tensors). If the Keras RNN API supports them, that would solve the problem neatly. However, current `tf-nightly` does not and googling for planned support came out empty.

[2018-12-14 21:33] foxik commented on #36
Adding @qlzh727 as the author of the Unify RNN Interface RFC.

[2018-12-14 21:55] qlzh727 commented on #36
Hi @foxik, the equivalent concept for sequence_length in Keras RNN layer is called "masking".  When your input data in the batch has different timestep length, instead of creating a sequence_length tensor in tf.rnn, in keras please add a keras.layers.Masking(), which will by default filter out 0 zeros in the input tensor.

[2018-12-16 11:56] foxik commented on #36
Thanks! Sorry for taking your time, but I was unable to find it.

[2018-12-16 11:56] #36 closed

[2019-02-04 07:27] dynamicwebpaige opened #60 "SIG Add-ons: Finalize documentation and examples, and publish first package."
TF 2.0 might have deprecated `tf.contrib`, but much of its functionality is widely-used and important to the TensorFlow community. **Addons** is a repository of those bleeding edge contributions that conform to well-established API patterns, but implement new functionality not available in core TensorFlow.

For more information on Addons, check out their [GitHub repo](https://github.com/tensorflow

[2019-02-04 07:31] dynamicwebpaige opened #61 "SIG Add-ons: Complete the move from contrib to addons as specified from RFC."
TF 2.0 might have deprecated `tf.contrib`, but much of its functionality is widely-used and important to the TensorFlow community. **Addons** is a repository of those bleeding edge contributions that conform to well-established API patterns, but implement new functionality not available in core TensorFlow.

[RFC: Move from tf.contrib to tensorflow/addons.](https://github.com/tensorflow/community/b

[2019-02-16 03:27] Hohuade opened #68 "Installation of @tensorflowtfjs-node is not possible"
This is when I installed it.
I can't solve it.

E:\jslife_WX\wxjslife_rebuild_face>npm install

* Downloading libtensorflow
events.js:173
      throw er; // Unhandled 'error' event
      ^

Error: connect ETIMEDOUT 172.217.160.80:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1083:14)
Emitted 'error' event at:
    at TLSSocket.socketErrorListener (_http_client.js:397:9)
    at TLSS

[2019-03-06 13:27] seanpmorgan commented on #60
First package is [released](https://github.com/tensorflow/addons/releases). Documentation and examples will continue to be updated as the project matures.

[2019-03-13 11:03] jackwish opened #79 "What about enable GitHub Pages for this repo?"
As most materials here are documents (written in markdown), maybe a jekyll based website will be much more friendly for users to reach already existed rfcs and so on?

[2019-03-18 12:42] #79 closed

[2019-03-26 23:34] AcceptedDoge commented on #68
Hey, I have not reproduced your situation. But I think I can help you analyze why it happened.
I noticed that  `jslife_WX` in your file path , so guess you are a developer from China.
[code]
Please check your network status and try to download using the proxy.
If it doesn't work, we can continue to analyze the current situation.

By the way, similar questions are suggested to be submitted to [tens

[2019-04-08 21:06] SamuelLarkin opened #88 "typo in section Functions that create state"
Small typo in the second sentence of section `Functions that create state`
This **is** makes it clear that the code will have the same semantics once wrapped.
should read:
This makes it clear that the code will have the same semantics once wrapped.

[2019-04-15 02:11] wendongqu opened #92 "Import Error: cannot import name 'model_utils'"
import tensorflow as tf
tf.__version__( got  1.13.1)
import tensorflow_probability as tfp

got error:

File "c:\program files\python36\lib\site-packages\tensorflow_estimator\python\estimator\model_fn.py", line 33, in <module>
    from tensorflow.python.saved_model import model_utils as export_utils

ImportError: cannot import name 'model_utils'

basically, there is no model_utils subfolder or file

[2019-04-16 08:59] shangyueweiliang opened #93 "WARNING: The TensorFlow contrib module will not be included in TensorFlow 2.0. For more information, please see: * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md * https://github.com/tensorflow/addons If you depend on functionality not listed there, please file an issue."

[2019-04-28 05:40] soloice opened #96 "Misleading BidirectionalRNN"
For bidirectional rnns, the TF 1.x API is `tf.nn.bidirectional_dynamic_rnn(cell_fw, cell_bw)`, while the TF 2.x API is `keras.layers.Bidirectional(tf.keras.layers.RNN(cell, unroll=True))`.

My point is, `keras.layers.Bidirectional` should accept two RNNCell instances, one forward and one backward. With current interface, `keras.layers.Bidirectional` implicitly create a forward and a backward layer

[2019-04-29 08:22] #96 closed

[2019-04-29 08:23] soloice commented on #96
It's too late to post it here. I opened the issue in `tensorflow/tensorflow`.

[2019-04-30 07:54] jackwish commented on #93
I guess the *community* repo is not for *supporting like* things. Maybe try stackoverflow?

[2019-05-02 06:36] jackd commented on #92
Workaround: I had a similar issue, resolved it by reinstalling tensorflow-estimator

[code]

[2019-05-04 12:37] xiaoshuaigeasdf commented on #92
same problem.
Comes from the tensorflowjs import. It does have a relationship with ‘estimator’, but reinstallation does not solve the problem.

[2019-05-04 17:08] PriyanshChaudhary commented on #92
yes. It shows me a similar error when  I use this:
`tf.keras.estimator`

[2019-05-11 10:43] polpolie opened #103 "[Translation] Translation for Korean"
We've translated this part of guidelines to Korean on our repository with github pages.

This is URL of Korean repository : https://github.com/BangSeongJin/translation_to_korean.git

[2019-05-22 05:37] npuichigo opened #106 "Will tensorflow 2.0 directly support sequence-to-sequence RNN models?"
I saw that tf.contrib.seq2seq has been moved to tensorflow addons, so is that the recommended way to use seq2seq rnn models? Or maybe tensorflow 2.0 will directly support it?

[2019-05-22 09:04] Stercator opened #107 "Question: RNN layer vs. cell"
See #15 "Unifying RNN"

Why do both RNN cells and layers exist, instead of having just RNN layers (containing the cell functionality)?

[2019-05-22 09:05] #107 closed

[2019-05-22 12:17] seanpmorgan commented on #106
Yes installing tf-addons will be the recommended way to use seq2seq models in TF2:
https://github.com/tensorflow/addons/tree/master/tensorflow_addons/seq2seq

This is part of the effort  to make TF more modular and have better maintenance of community code (i.e. tf.contrib)

[2019-05-23 03:05] npuichigo commented on #106
Thanks!

[2019-05-23 03:05] #106 closed

[2019-05-24 19:36] KseniaErshova opened #108 "ImportError: cannot import name 'check_scalar'"
ImportError                               Traceback (most recent call last)
<ipython-input-11-9b6ccb88fd0a> in <module>()

----> 3 import sklearn
      4 from sklearn.cluster import KMeans as km
      5 from sklearn.preprocessing import StandardScaler

./anaconda3/envs/py35/lib/python3.5/site-packages/sklearn/__init__.py in <module>()
     74 else:
     75     from . import __check_build
---> 76

[2019-05-25 11:06] mayou36 commented on #108
Hi Ksenia, it seems that this is about scikit learn and neither about TensorFlow nor about community proposals for TensorFlow. Please post an issue at the right place.

[2019-06-13 07:19] KumarSaurav366 opened #114 "Training in tf1.8 (Cuda version 9 )"
(tf1.8) C:\tensorflow1\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
WARNING:tensorflow:From C:\Users\ISEE\Anaconda3\envs\tf1.8\lib\site-packages\tensorflow\python\platform\app.py:126: main (from __main__) is deprecated and will be removed in a future version.
Instructions for updating:
Use

[2019-06-13 07:20] KumarSaurav366 commented on #114
tensorflow version 1.8

[2019-06-17 18:39] alejandro-colomar opened #118 "TensorFlow C API tutorial"
There is a tutorial for TF in python, a smaller guide for the C++ API, but there is absolutely nothing for the C API.

Is there any help for starting to use TF in C?

[2019-06-19 07:56] jackwish opened #119 "What about migrating the @tensorflow.org mailing list to GitHub?"
Personally, I think mailing list is pretty efficient and very good at managing discussion scope and people who involved.

But, the tensorflow.org mailing list is not so well managed - I am not blame the people in charge, but the infrastructure system is sort not catching up the developing style nowadays. The fact is, people are more likely to use infrastructure like GitHub, which we can cross refe

[2019-06-22 15:40] vinodgro commented on #118
+1 for a tutorial on TF in C.

Where can I find the guide on TF C++ API?

On Mon, Jun 17, 2019 at 11:39 AM Alejandro Colomar <notifications@github.com>
wrote:

[2019-06-23 01:52] alejandro-colomar commented on #118
TF C++ guide:
https://www.tensorflow.org/guide/extend/cc

[2019-06-25 12:52] gerritholl opened #120 "Broken link in Tensorflow 2.0 overview"
The [Tensorflow 2.0 overview](https://github.com/tensorflow/community/blob/master/sigs/testing/faq.md) in the section "General", subsection "Should I start learning TensorFlow 1.x or TF 2.0?", links to https://www.deeplearning.ai/tensorflow-from-basics-to-mastery/ under the anchor "DeepLearning.ai Course".  However, this link results in Error 404 "No Results Found".  Is it the same as [this course

[2019-07-01 14:46] dynamicwebpaige commented on #60
Thanks for the update, @seanpmorgan! Am closing out this issue. 😄

Please try out [TensorFlow Addons](https://www.github.com/tensorflow/addons) and let us know what you think.

[2019-07-01 14:46] #60 closed

[2019-07-04 08:23] huang229 opened #121 "Add a custom Op"
How to add a custom op in Windows system?thank you!!!

[2019-07-05 14:19] seanpmorgan commented on #121
This is not really the right place for this question (try tensorflow/custom-op or stackoverflow), but anyways...

If you build tensorflow from source and compile the op during build it's possible to do at the moment. A more modular way would be to link to a pre-compiled libtensorflow. See this issue:
https://github.com/tensorflow/custom-op/issues/24

[2019-07-08 06:15] #121 closed

[2019-07-09 09:52] #119 closed

[2019-07-10 06:51] NUV13102001 opened #122 "Tensorflow-gpu is not using any gpu power"
Windows 10 x64
GTX 1060 6GB
CUDA - 10.0, 10.1
cuDNN - 7.6.1, 7.6.1
Python - 3.6.5
Anaconda newest version and updated using "conda update conda(-build)"

My installation was as follows:-

Python
Anaconda
Visual Studio - Desktop development with C++
CUDA and cuDNN in chronological order
pip install tensorflow-gpu (ignore installed and upgrade)

I am trying to work on a few simple TensorFlow project

[2019-07-10 06:56] NUV13102001 commented on #122
Is Linux my only option?

[2019-07-10 08:48] PriyanshChaudhary commented on #122
First, have you checked if your CUDA is working in your program?
sometimes anaconda makes an error with CUDA.
first, check on your interpreter if CUDA is being detected.
import torch

 0

 <torch.cuda.device at 0x7efce0b03be0>

[2019-07-10 10:26] NUV13102001 commented on #122
@PriyanshChaudhary Thank you for your answer. I am pretty new, looking to understand some things.

I am currently reinstalling everything. I have not tested your steps yet, but every time a tensorflow device was made, it used the GTX card. It uses the VRAM but not the cores. Why?
Windows >Automatic Update >Python 3.6.6 >Visual Studio Community with C++ Development module >CUDA 10.0 >cuDNN 7.6 >pip

[2019-08-09 13:27] Yomdroid opened #132 "Invalid Email for Project Steward"
I tried sending an email to project steward Sarah Novotny, please can the email be reviewed?

<img width="1118" alt="Screenshot 2019-08-09 at 2 24 41 PM" src="https://user-images.githubusercontent.com/32799642/62782152-8aabbf80-bab1-11e9-8256-0606315a778f.png">

[2019-08-14 23:58] dmitryponv opened #134 "Building Tensorflow API in ./configure.py comma-separated list does not work correctly"
The comma-separated lsit does not function correctly,
If I input the library folder first, it finds it but complains about the include folder,
If I inptu the include folder first, it complains about the library folder

[2019-08-16 20:28] wode-czw commented on #68
I am a China deveoper too,I can't download the libtensorflow,and even I open an shadowsocks and proxy my terminal I still can't download ...

[2019-08-20 06:53] DKWIPL opened #137 "KeyError while loading image data."
**Error:**
File "DataCollection.py", line 38, in caption_image
    return "Image (CC BY 2.0) " + ' - '.join(attributions[str(image_rel)].split(' - ')[:-1])
KeyError: 'sunflowers\\6166888942_7058198713_m.jpg'

**Function:**
def caption_image(image_path):
    image_rel = pathlib.Path(image_path).relative_to(data_root)
    return "Image (CC BY 2.0) " + ' - '.join(attributions[str(image_rel)].split('

[2019-08-23 23:48] gui-li opened #140 "Where is stop_if_no_increase_hook gone?"
I use tensorflow.contrib.estimator.stop_if_no_increase_hook in my code to perform an early stopping, which works smoothly before. But today it throws out an error:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  *

[2019-08-29 03:11] Govan111 opened #145 "I have trained a .pb model which is in tf1.2 and I want to use it in the environment of tf2.0, but I fail to use it successfully. Anyone knows how to solve the proble"

[2019-09-06 08:22] dynamicwebpaige commented on #61
Closing this out, as the Addons team has completed its move. Thanks to @seanpmorgan, Karmel Allison, @martinwicke, @facaiy, @ewilderj, et al for their hard work!

[2019-09-06 08:22] #61 closed

[2019-09-10 07:31] remic33 opened #148 "Where is tf.contrib.training.HParams ?"
I am using AutoAugment util from tensorflow object api for data augmentation.
That util use tf.contrib.training.HParams and I want to use it in tf 2.0 rc.
Can't find where that function is hidden now, any help?

[2019-09-10 15:55] 8bitmp3 commented on #148
Hey @remic33 , the `tf.contrib` module is deprecated in TF 2.0
https://www.tensorflow.org/beta/guide/upgrade

[2019-09-11 06:58] remic33 commented on #148
I know about tf.contrib being deprecated, I tried to find if that particular function was somewhere with the new tensorflow, because for most of the contrib, it had been had to core. But can't find the tf.contrib.train now.

[2019-09-19 01:09] fabiobends opened #153 "ERROR Importing TensorFlow"
C:\Users\fpython>python
Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\fpython\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal

[2019-09-20 12:22] liyi193328 opened #154 "Embedding and Partitioned Variable is finished in tf2.0?"
Hi, guys:
   the ref: https://github.com/tensorflow/community/blob/master/rfcs/20190116-embedding-partitioned-variable.md
    No api in tf2.0 about the embedding ?

[2019-09-22 06:03] jt4000 opened #157 "Tensorflow js with Node js?"
Hello,

Do you also need to install nodejs in order to use tensorflow js?

Or is it only enough to use tensorflow js?

Thank you!

[2019-09-23 05:17] adityaatluri opened #158 "Scope of MLIR"
Hi,
Is MLIR going to be focusing on just Tensorflow or open to enabling projects like for example, Halide or tensor-contractions or graphics (DX12 shaders) etc

@tatianashp

[2019-09-23 05:44] tatianashp commented on #158
MLIR applications are not restricted to TensorFlow. We are open to any use
that benefits the community. One current notable example of non-TensorFlow
application is Flang
<http://llvm.org/devmtg/2019-10/talk-abstracts.html#tech19>. I am looking
forward to seeing other interesting use cases.

Thanks,
Tatiana

On Sun, Sep 22, 2019 at 10:17 PM Aditya Atluri <notifications@github.com>
wrote:

[2019-09-29 16:51] Neel-Gupta opened #159 "TypeError: The added layer must be an instance of class Layer. Found: <keras.layers.core.Dropout object"
Getting error in Tensor Flow while running it in Google colab. I am getting this: ====>

THE Code is :============>
`
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers.core import Dense, Dropout
from tensorflow.keras.layers.recurrent import LSTM

mnist = tf.keras.datasets.mnist
(x_train ,y_train),(x_test,y_test) = mnist.load_data

[2019-09-30 14:42] Neel-Gupta commented on #159
The problem has been solved by me. The correct code is :======>
`
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.layers import LSTM

mnist = tf.keras.datasets.mnist
(x_train ,y_train),(x_test,y_test) = mnist.load_data()
print ("The shape of of x_train: ", x_train.shape)
print (x_trai

[2019-09-30 14:42] #159 closed

[2019-10-01 00:44] gabrieldemarmiesse opened #160 "Using four spaces for indentation in the Python docs? As a sign of good will towards the open source community."
This issue is absolutely not a debate about if four spaces is better than two spaces for indentation in python. Please avoid comments mentioning that.

This is more about the image that the tensorflow project gives to contributors and the open source community in general.

Currently this image is more "We are making this cool tool at Google, you can use it for free, and help us make it better".

W

[2019-10-03 12:01] rish-16 commented on #157
Hey there!

TensorFlow.js is built using node.js. You need to have [`node`](https://nodejs.org/en/download/) installed on your system to use TF.js. You can install TensorFlow.js using `npm` or `yarn` in your command prompt like so:

[code]

[code]

Do ensure you are in your project directory.

Hope this helps!

PS. if you have any other questions, do drop them down below!

[2019-10-03 15:27] yw155 opened #161 "TF 2.0 How to set a different learning rate for each layer?"
Hi, I would like to ask a question about how to set different learning rates for several layers. In my implementation, I would like to set one learning rate for some layers while the other learning rate for some other layers. Is there some example codes? Thanks in advance.

[2019-10-10 13:08] Kuz-man commented on #148
@remic33, a quick and dirty solution is to comment out the hparam_pb2 references in hparam.py (one assertion, ops.register_proto_function, to_proto and the include) and try it this way. It seems to be working for me.

[2019-10-15 09:57] bhack commented on #29
What do you think about introduce  a grooming activity every quarter?
VSCode it is another high traffic repository on Github so we could get a little bit of inspiration from them.

See
https://github.com/microsoft/vscode/wiki/Issue-Grooming
https://github.com/microsoft/vscode/issues/82032#issuecomment-539010340

They have also a monthly public iteration plan issue that I find very transparent and

[2019-10-15 15:57] martinwicke commented on #29
@chanshah is continuously working through our backlog, and you may have noticed that we have much better label coverage recently. I love the Issue Grooming announcement though -- it is something we could imitate.

[2019-10-15 16:59] ewilderj commented on #29
cc @theadactyl @joanafilipa

[2019-10-15 17:41] bhack commented on #29
The community love their monthly iteration Plan tickets. It could be very nice if we could have something like that in Tensorflow.
Also an improved graph like this microsoft/vscode#82194 would be cool.

[2019-10-15 19:24] bhack commented on #29
We also need grooming across Tensorflow org owned repos not just the main TF.
Just as example if you see the other issues here (in this repo) they are quite unmaintained.

[2019-10-16 18:55] ewilderj commented on #161
Sorry, this repo is not monitored for questions. Please ask on Stack Overflow.

[2019-10-16 18:55] #161 closed

[2019-10-16 18:56] ewilderj commented on #160
Please could you transfer this conversation to docs@tensorflow.org or developers@tensorflow.org -- this repo is not monitored for this purpose.

[2019-10-16 18:56] #160 closed

[2019-10-16 18:57] ewilderj commented on #157
Please use the tfjs@tensorflow.org group for these questions, this repo is rarely monitored.

[2019-10-16 18:57] #157 closed

[2019-10-16 18:57] #158 closed

[2019-10-16 18:57] ewilderj commented on #154
Please address this question to developers@tensorflow.org.

[2019-10-16 18:57] #154 closed

[2019-10-16 18:58] ewilderj commented on #153
Please address this question to StackOverflow or file an issue on tensorflow/tensorflow.

[2019-10-16 18:58] #153 closed

[2019-10-16 18:58] ewilderj commented on #145
Please address this question to StackOverflow or file an issue on tensorflow/tensorflow.

[2019-10-16 18:58] #145 closed

[2019-10-16 18:59] ewilderj commented on #132
We did update this. Please reach out to me ewj@google.com if you have Code of Conduct issues.

[2019-10-16 18:59] #132 closed

[2019-10-16 20:11] gabrieldemarmiesse commented on #160
Thanks @ewilderj !

[2019-11-01 05:18] PetrochukM commented on #148
Also, by the way, if you are open to exploring a third-party package. I published this Python package for managing `HParams`: https://github.com/PetrochukM/HParams

[2019-11-01 06:25] MachineJeff commented on #134
Hi, I have solved it in Linux but not Windows.
use `find -name cudart.lib` to find the lost file.
paste the path on `Please specify the comma-separated list of base paths to look for CUDA libraries and headers.`
do not forget use comma-separated. Good lock

[2019-11-06 11:36] bhack commented on #29
Also roadmap.md/roadmap docs It Is often systematically outdated and have a too large scope to be useful.
Please consider something like an iteration plan policy:
https://github.com/microsoft/vscode/wiki/Iteration-Plans

And a more Dynamic Roadmap:
https://github.com/microsoft/vscode/wiki/Roadmap

[2019-11-07 21:48] ewilderj commented on #29
cc @joanafilipa @theadactyl

[2019-11-11 08:41] singh728om commented on #118
https://www.tensorflow.org/install/lang_c
Here is C API tutorials you can ....see

[2019-11-11 18:13] alejandro-colomar commented on #118
That's not a tutorial about the C API.  That only tells me how to install the C API, but absolutely nothing about the API itself.  It doesn't tell me which functions I do have available and what they do.

[2019-11-11 18:33] bhack commented on #118
@alejandro-colomar Check [this thread](https://groups.google.com/a/tensorflow.org/forum/m/#!topic/developers/3X6GrdTpxWo).
Seems that generally c/c++ it Is not so much user oriented or at last having "user care"

[2019-11-13 19:26] ewilderj commented on #148
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:26] #148 closed

[2019-11-13 19:26] ewilderj commented on #140
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:26] #140 closed

[2019-11-13 19:26] ewilderj commented on #137
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:26] #137 closed

[2019-11-13 19:27] ewilderj commented on #134
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:27] #134 closed

[2019-11-13 19:27] ewilderj commented on #122
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:27] #122 closed

[2019-11-13 19:27] ewilderj commented on #120
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/docs issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:27] #120 closed

[2019-11-13 19:27] ewilderj commented on #118
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/docs issue tracker, or docs@tensorflow.org

[2019-11-13 19:27] #118 closed

[2019-11-13 19:28] ewilderj commented on #114
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:28] #114 closed

[2019-11-13 19:28] ewilderj commented on #108
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:28] #108 closed

[2019-11-13 19:28] ewilderj commented on #103
Apologies, but this issue tracker is for TF Community governance. I encourage you to address translation questions to the tensorflow/docs issue tracker, docs@tensorflow.org

[2019-11-13 19:28] #103 closed

[2019-11-13 19:29] ewilderj commented on #93
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:29] #93 closed

[2019-11-13 19:29] ewilderj commented on #92
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tensorflow issue tracker, discuss@tensorflow.org or StackOverflow.

[2019-11-13 19:29] #92 closed

[2019-11-13 19:29] #88 closed

[2019-11-13 19:30] ewilderj commented on #68
Apologies, but this issue tracker is for TF Community governance. I encourage you to address questions to the tensorflow/tfjs issue tracker, tfjs@tensorflow.org or StackOverflow.

[2019-11-13 19:30] #68 closed

[2019-11-13 21:09] bhack commented on #29
I'

[2019-11-15 03:47] SK7here opened #173 "To become mentor for Google Code In"
I wish to become a mentor for Google Code in 2019. I have done several projects in Machine Learning and few certifications too. It will be a nice exposure for me if I could get a chance to become a mentor for Google code at TensorFlow

[My LinkedIn profile](https://linkedin.com/in/kailash-s-063207150)
[My Github profile](https://github.com/SK7here)

NOTE: As I am not sure on how to approach Tensor

[2019-11-17 07:14] arghyadeep99 opened #174 "Application to become a Google Code-In 2019 mentor for TensorFlow"
I wish to apply for becoming a mentor for Google Code-In 2019. I have done several projects in Deep Learning. I feel it will be an amazing opportunity for me to become a part of the Google Code-In event as mentor on behalf of TensorFlow, the framework that has helped me build some cool projects. I am providing links to my LinkedIn and GitHub profile:

[LinkedIn](https://www.linkedin.com/in/arghyad

[2019-11-18 10:36] sgpritam commented on #174
Thanks for the application for being a mentor in Google Code In program. We are excited to review them and welcome you to the Tensorflow community. There are new guidelines from google to select mentors based on the contribution and the trust. We can't select the mentors based on the submitted form alone. We are also reviewing the list of mentors who are already got selected.
We want to ensure tha

[2019-11-18 10:38] sgpritam commented on #174
#173 Thanks for the application for being a mentor in Google Code In program. We are excited to review them and welcome you to the Circuitverse community. There are new guidelines from google to select mentors based on the contribution and the trust. We can't select the mentors based on the submitted form alone. We are also reviewing the list of mentors who are already got selected.
We want to ens

[2019-11-19 04:59] raghavpuri opened #176 "Becoming a mentor for Google Code-In 2019"
I wish to become a mentor for Google Code-in 2019. I have done a number of ML projects and I've been a Google Code-In Finalist in 2018. My main areas of expertise are Computer Vision. I also do digital design. I'd be happy to send in a resume and more details as well, please let me know if there's an official email or form.

NOTE: As I am not sure how to approach TensorFlow on becoming a mentor fo

[2019-11-19 05:58] sakshivij commented on #174
@sgpritam How can anyone get connected via slack ? I couldn't find anything related to slack channel. I would like to be part of the channel and contribute as a beginner.

[2019-11-19 06:05] sgpritam commented on #174
@sakshivij please check again and edit your comment

[2019-11-19 06:06] sgpritam commented on #174
#173 Thanks for the application for being a mentor in Google Code In program. We are excited to review them and welcome you to the Tensorflow community. There are new guidelines from google to select mentors based on the contribution and the trust. We can't select the mentors based on the submitted form alone. We are also reviewing the list of mentors who are already got selected.
We want to ensur

[2019-11-19 12:25] arghyadeep99 commented on #174
So what exactly should we be doing now? @sgpritam

[2019-11-19 12:38] sgpritam commented on #174
Contribute and be active regularly, then the organization will select the active member @arghyadeep99

[2019-11-21 05:18] YunchuZhang opened #178 "Where is staging package in tf2? Originally from tensorflow.contrib.staging import StagingArea"
# Community repo

The only issues you should file here concern the community's documentation or processes.

All other bugs should be filed on the appropriate repo, questions directed to the various email groups, or if it's a "how-to" question, StackOverflow.

Hi there,
I just see the list about tf.contrib package, and see that staging is deleted since redundant , i want to ask that which function

[2019-11-27 19:51] rajatsahay opened #181 "Becoming a mentor for Google Code-in'19"
I wanted to become a mentor for Tensorflow for Google Code-in 2019. However, there seems to be no certain way to approach the organization, hence, why I am creating an issue here.
I have a great interest in Machine Learning and specialize in Computer Vision. Given the opportunity, I would be more than happy to submit my CV for review.

If there is a proper path to approaching the organization, kin

[2019-11-29 17:12] tanmoyio commented on #181
Have you personally DM your email id to Paige Bailey where she announced for mentor's registration in Google Code-in 2019?

If yes, then create a set of initial tasks before deadline, take the survey sent by Paige Bailey. And you are good to go.

If no, don't worry. You can anytime contribute in Tensorflow. This guide might help- https://www.tensorflow.org/community/contribute , there are many way

[2019-12-02 19:56] RokoMijic commented on #148
Does anyone have a solution for this? Is there an equivalent of `tf.contrib.training.HParams` in tensorflow 2.0 or not?

[2019-12-02 20:00] seanpmorgan commented on #148
Looks like there is a fork in tensor2tensor:
https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/utils/hparam.py

But alternatively you might want to check out:
https://github.com/keras-team/keras-tuner

[2019-12-02 21:50] RokoMijic commented on #148
So I worked on this a bit. For what I needed there was a workaround since the code I was looking at wasn't making much use of HParams, I could replace it in an ad-hoc way.

However, fixing this error just led me to a new TF 1.4 --> 2.0 incompatibility.

I would advise anyone encountering the same kind of error to not try to fix it. TF 1.4 --> 2.0 breaks a lot of things. For my specific need, I thi

[2019-12-03 04:07] neelr opened #183 "Best way to contact mentors GCI 2019"
Hi!

Hi! Just asking about GCI and the contacting mentors part, is there any IRC channel or Slack channel that we should join, or should we just ask here (the chat and email list redirect to this repository.

Thanks so much!

[2019-12-05 20:10] #181 closed

[2019-12-06 03:50] #173 closed

[2019-12-09 04:53] C137home opened #187 "https://vk.com/rikradikandmorti"
# Community repo

# РЕПО сообщества
Единственные вопросы, которые вы должны подать здесь, касаются документации или процессов сообщества.
Все остальные ошибки должны быть поданы на соответствующее РЕПО, вопросы, направленные в различные группы электронной почты, или, если это вопрос "как", StackOverflow.

[2019-12-09 04:54] #187 closed

[2019-12-11 11:06] bhack commented on #29
Sorry, Is this going to be discussed internally? Can we have a more transparent monthly planning and regurally updates roadmap?

[2019-12-13 11:07] Squadrick commented on #178
`tf.data` is now the canonical way of dealing with all "data" including the transfer of tensors from CPU to GPU and vice-versa. I could help you out more if you mention how exactly you were using `tf.StagingArea`.

[2019-12-13 14:09] yongtang commented on #178
I could see it is quite closely related to I/O. If there is enough interest we could help having a similar method exposed in [tensorflow/io](https://github.com/tensorflow/io) package .

[2019-12-19 03:16] alisaaalehi opened #191 "A few links are broken"
Links in the following sentences are broken, please consider fixing them:

[2020-01-06 17:44] ayanujju commented on #183
Hey @neelr, you can reach out to mentor for a specific task through the task comment section. We don't have any dedicated group for mentor-mentee discussion this time. Hope this helps.

All the best for GCI tasks :)

[2020-01-27 18:25] zulfiqarAlibalti commented on #159
thanku

[2020-01-27 18:26] zulfiqarAlibalti commented on #159
thanku soo  much sir

[2020-01-31 11:29] bhack commented on #29
Gently ping on the new year. Can we have an improved monthly or release cycle outlook and roadmap?

[2020-01-31 20:05] theadactyl commented on #29
@bhack thanks for the reminder.  If I am understanding correctly, you're looking for the  following:
- monthly roadmap updates for core and ecosystem projects
- better explanation/publication of our "issue grooming" cadence and practices

Am I missing something?

Agreed with  @martinwicke that the vscode grooming announcement is a good model to follow. I'll  work with @chanshah on this, for this y

[2020-01-31 20:16] bhack commented on #29
Yes.
For the first point monthly could be ideal.
There it Is monthly cause Vscode has a monthly release cycle.
We don't have an explcit release cycle in Tensorflow or if we have one It Is totally hidden/internal.

So if are not having predictable alpha/beta/RC/release public cycles  we could assume monthly cycles.

[2020-01-31 20:20] bhack commented on #29
Also I think that Vscode has a monthly general issue about release where all the teams and ecosystem contribute with  (issue/PR link).

Check this month pinned ticket:
https://github.com/microsoft/vscode/issues/87479

The related end-game:
https://github.com/microsoft/vscode/issues/89326

And a sample ecosystem for Jan:
https://github.com/microsoft/vscode-remote-release/issues/2075

[2020-02-09 16:16] bhack opened #204 "Discord Discourse"
For a so large community we have really a very low traffic Dev mailing lists so I suppose something It Is not working in the community comunication infra.

I propose with a rationale quite to [LLVM community](http://lists.llvm.org/pipermail/llvm-dev/2019-November/136880.html) to setup ad adopt an unique Discord and Discourse for Dev and the SIGs.

[2020-02-10 08:47] tataudat commented on #204
Second this. Please make it happen.

[2020-02-11 17:28] LexusH commented on #191
Thank you for the feed back! I'll look into fixing these links immediately!

[2020-02-15 09:03] keithmartinkinyua commented on #159
i really cant see the difference between the two pieces of code

[2020-02-17 10:11] guillaumekln opened #206 "Link to TensorFlow roadmap is broken"
In https://www.tensorflow.org/community, the link "See product roadmap" at the end of the page is broken.

[2020-02-27 00:15] bhack commented on #204
Another alternative for Discord: https://about.riot.im/

[2020-03-01 18:05] bhack commented on #206
It Is broken also in https://github.com/tensorflow/tensorflow/blob/master/README.md#resources

But the main problem is that TF Roadmaps are quite useless and systematically outdated. See proposals in https://github.com/tensorflow/community/issues/29#issuecomment-550271413

[2020-03-01 18:06] bhack commented on #191
Can we close this?

[2020-03-04 15:47] ayushmankumar7 opened #213 "How do i connect with GSOC Mentors?"
# Community repo

HI, I am Ayushman Kumar, a GSoC 2020 aspirant. I am really struggling to connect myself with any mentor. I have joined the Gitter channel, mailed in the given email address but i did not get any response. If someone can help me connect with the mentor, i will be helped a lot.
Thank you.

[2020-03-04 15:50] yongtang commented on #213
@ayushmankumar7 I can help with I/O, audio/video, data format, or data streaming (like kafka) related topics in tensorflow for GSoC.

[2020-03-04 15:57] ayushmankumar7 commented on #213
I am looking forward to work on "Core Model Migration to TensorFlow 2.x (with TPUs!)". I had a few questions reguarding this project. If someone could help me clear my doubts, it would be really helpful for me.

[2020-03-04 16:16] yongtang commented on #213
Don't know who is the mentor for `Core Model Migration to TensorFlow 2.x (with TPUs!)`, maybe you can send email to https://groups.google.com/a/tensorflow.org/forum/#!forum/developers

[2020-03-04 17:02] ayushmankumar7 commented on #213
Thank you so much for the help!

[2020-03-04 20:05] pilgrm commented on #213
Hey, I recently came across Mesh RCNN after facebook released Pytorch3D, and actually also studied a research paper on MeshCNN(Both the Mesh Networks are quite different though). I want to work on that. So, where should I begin from.
My name is Gurlop, and I am suffering from a Mentor crisis as well!

[2020-03-04 20:07] pilgrm commented on #213
Hi, I recently came across Mesh RCNN after facebook released Pytorch3D, and actually also studied a research paper on MeshCNN (Both the Mesh Networks are quite different though) for a seminar at college. I want to work on MeshRCNNs for GSOC. So, where should I begin? Please help me finding the right place to discuss this.
My name is Gurlop, and I am suffering from a Mentor crisis as well!

[2020-03-08 08:25] cvnad1 opened #215 "How to get connected?"
I am a gsoc 2020 aspirant and want to work on introducing a updated tokenizer and clustering algorithm module for tensorflow.
I mailed but got no response even on public platform.
Please help me.

[2020-03-12 09:22] Eshan-Agarwal commented on #213
@yongtang  I am interested in `Implement key research data in TFDS` , `New models + colab demos`, `Help migrate a TensorFlow library to TensorFlow 2.x` can you help me regarding these ?

[2020-03-12 13:39] yongtang commented on #213
@Eshan-Agarwal Not very familiar with the topic in tfds, maybe @Conchylicultor or @rsepassi has more context with respect to this one?

[2020-03-12 13:41] Eshan-Agarwal commented on #213
Ok so they are mentors for tfds or members ?

[2020-03-12 13:42] yongtang commented on #213
@Eshan-Agarwal Please see https://github.com/tensorflow/datasets

[2020-03-12 13:55] Eshan-Agarwal commented on #213
Yes , I am already contributing to tfds.

[2020-03-12 20:02] Conchylicultor commented on #213
Thanks for reaching out, Eshan!
Looking forward to seeing your Google Summer of Code proposal!

On Thu, Mar 12, 2020 at 6:55 AM Eshan Agarwal <notifications@github.com>
wrote:

[2020-03-13 12:48] lazlozerv commented on #213
Hi @Conchylicultor, I am also interested in `New models + colab demos`,  `Core Model Migration to TensorFlow 2.x` and `High level TensorList API`.  What I should look to get familiar with these (mainly for TensorList API, as for the others I have already started to look the respective repos) ?

[2020-03-13 18:41] bhack commented on #204
For MLIR is working quite well: https://llvm.discourse.group/c/llvm-project/mlir/ /cc @ewilderj

[2020-03-13 18:47] ewilderj commented on #204
cc / @theadactyl

@bhack consider the vast footprint on StackOverflow, which is where we intentionally sent a lot of questions from the beginning, so mailing list traffic isn't everything here. There are downsides to having too much traffic impeding developer velocity...

All that said, we definitely recognize this need too and are investigating.

[2020-03-13 19:11] bhack commented on #204
@ewilderj By a pure theoretically point of view I could understand what you mean and could be ok to forward stackoverflow "classical" traffic on stackoverflow.

But I still see too few public discussion about the project and probably all it is very restricted on this `community repository` with issue and RFC PR and these kinds of things cannot be discussed on stackoverflow. Probably could be discu

[2020-03-13 19:16] bhack commented on #204
See also the quite recent switch of Mozilla on Matrix https://matrix.org/blog/2019/12/19/welcoming-mozilla-to-matrix

[2020-03-14 15:03] bhack commented on #204
I.e. see the interaction it is not the best with turnarounds on github on tickets https://github.com/tensorflow/addons/issues/1305 or for community recurses (SIG?).

[2020-03-14 23:07] MarioCarvalhoBr opened #217 "Tensorflow Lite Quant: Error when using a TF Lite Quant model to classify 2 classes. Acurracy low of 1%"
I used this notebook to train a network:
https://colab.research.google.com/github/tensorflow/examples/blob/master/community/en/flowers_tf_lite.ipynb

I basically have 2 classes to train:
Class 1 and Class 2;

At the end of the training, I converted the model to a quantized model using the code:
https://www.tensorflow.org/lite/performance/post_training_quantization

[code]

When passing the convert

[2020-03-16 03:52] ManishAradwad commented on #213
Hello @Conchylicultor , can I send you my first draft of proposal so that I can get your feedback on it?

[2020-03-21 04:10] abhinavsp0730 opened #219 "[GSOC 2020] Feedback for the proposals"
Hlew, community I'm going to part in this year GSoC and I've made my first proposal. Would anyone from the keras tuner team and from the organisation will review my proposal. So that I'll get to know what development is going on internally and according to that I'll refactor my proposal.

[2020-03-22 11:10] Avilad0 commented on #213
Hey @yongtang  @Conchylicultor , Can you help me find the mentor for GSOC 2020 project   "Autograph and @tf.function High level TensorList API "

[2020-03-24 19:15] eriktrom opened #220 "Helping Organize Covid-19 Research Scientists"
# Helping Organize Covid-19 Research Scientists

*The only issues you should file here concern the community's documentation or processes.*
**I am violating the previous italic, I don't think there is a better place to put this issue given the current circumstances, let me know if I should move it, and I will of course**

----

I noticed last night that there is at least one group of researchers/d

[2020-03-25 23:35] uppalutkarsh commented on #213
Hi @yongtang @Conchylicultor , I am interested in "Implementation of implicit 3D representations in TensorFlow Graphics" project and, am currently facing difficulty contacting the mentor for the project. I'll appreciate any assistance regarding the issue.

[2020-03-26 00:07] yongtang commented on #213
@Avilad0 @uppalutkarsh I don't know who is the mentor for those projects, but my recommendation is to send an email to tensorflow-developers google group (email list).

[2020-03-26 06:47] uppalutkarsh commented on #213
@yongtang Thanks for the info.

[2020-03-27 16:36] himanshu-dutta commented on #213
@Conchylicultor I would really love to work on the extension of datasets in TFDS and it would be a great help if I got your guidance for the same.

[2020-03-30 04:56] technosier opened #222 "How to apply for google code in mentor"
# Community

Hi, I'm Tarun i almost searched every pages google how to be mentor in such organization.
I have many questions regarding it
How to apply,
How to find them,
What is the last dates,
Where do we find information about them etc.

[2020-03-31 20:53] bhack opened #223 "Ask contribution to Tensorflow addons for general scope utils, loss, layers, ops"
As we have just refreshed the model repo as model garden I would enforce the contributions policies of generale use (or already established in literature utils, losses, layers, ops to be contribute more systematically in Tensorflow/addons instead to be embedded or duplicated in the model repos.
E.g:
https://github.com/tensorflow/addons/issues/361#issuecomment-606856705
https://github.com/tensorflo

[2020-03-31 21:09] bhack commented on #223
/cc @dynamicwebpaige If she is interested.

[2020-04-01 14:36] #219 closed

[2020-04-03 11:46] bhack commented on #223
See also the approved RFC https://github.com/tensorflow/community/blame/master/rfcs/20190802-model-garden-redesign.md#L60-L61

[2020-04-13 18:58] bhack commented on #174
@ewilderj Can we close this?

[2020-04-13 19:00] #174 closed

[2020-04-13 19:00] bhack commented on #215
@dynamicwebpaige Can we close this?

[2020-04-13 19:02] bhack commented on #176
@ewilderj Can we close this?

[2020-04-13 19:02] bhack commented on #7
Can we close this?

[2020-04-13 19:03] #215 closed

[2020-04-13 19:06] bhack commented on #183
Can we close this?

[2020-04-13 19:07] #183 closed

[2020-04-13 19:19] bhack commented on #222
I don't know if the Tensorflow policy accept external mentors in CODE-IN and GSOC programs. /cc @dynamicwebpaige

[2020-04-13 19:48] theadactyl opened #225 "Create process for (or guidance around) creation of new community properties"
# Community repo

The only issues you should file here concern the community's documentation or processes.

All other bugs should be filed on the appropriate repo, questions directed to the various email groups, or if it's a "how-to" question, StackOverflow.

[2020-04-13 20:43] bhack commented on #225
Do you have the resource, as a team, to allocate a repository scan 2/5 minutes at day?
Cause we had regular outdated RFC without a negative or positive outcome , never triaged issues, trivial PR pending by months etc.

[2020-04-13 20:56] ematejska commented on #225
Sorry about any delays.  The RFC PRs are scanned on a regular basis.  Currently there are 15 outstanding ones and there are some old ones.  I'll investigate if some of them can be moved along.  When the RFC is moved along, do you think that communications could be improved there?  For example, results from the Design review meetings, etc.

[2020-04-13 21:08] theadactyl commented on #225
@bhack can we keep this issue on-topic for creation of community properties?

[2020-04-13 21:12] bhack commented on #225
@theadactyl Do you mean that this is a meta ticket to collect all the community properties? Or are you restricting the whole repository ISSUE to "community's documentation or processes"?
If the case is the first one ok.
Instead if the case is last one I think is pertinent to know if we could rely on this repository.

[2020-04-13 21:22] theadactyl commented on #225
Just this issue -- I want to make sure we stick to one topic per issue so we can better organize feedback and responses

[2020-04-13 21:31] bhack commented on #29
@theadactyl Can we have an update on how the grooming and public roadmap threads are going ahead internally or if it is stalled?
It is important to have a keep-alive for the community.

[2020-04-13 21:41] theadactyl commented on #29
For sure!

- @ematejska has done a lot of work on the RFC process for incoming RFCs. We are hoping to write a blog post soon about that as well to make it more clear how to get involved.
- The roadmap is trickier, but I have a to-do in the next two months to look at what a minimum viable roadmap update process would be that would have sufficient participation and maintenance.
- We're looking to pu

[2020-04-13 22:00] bhack commented on #29
Ok thanks for the update.
I will ping you again next month especially if we don't have any public progress in your last point.
The grooming topic was not only about RFC but it was related to the whole ecosystem and grooming initiatives/sprints in coordination with SIGs.

I will ping again next month if I don't see any news (especially on the last point).

Honestly I have a big expectation from the

[2020-04-13 22:10] bhack commented on #225
Ok about this thread the first point that i want to understand is how the new community properties proposals will be evaluated in this hypothetical process:

- There will be a consensus process between SIG representative (SIG representative can upvote on an issue, unanimity, majority etc..)?
- Or they will be evaluated by a internal company process/thread and we will be only exposed to a short fin

[2020-04-14 00:14] ematejska commented on #176
Closing since this is already over.

[2020-04-14 00:14] #176 closed

[2020-04-14 09:16] #204 closed

[2020-04-14 10:43] tastyminerals commented on #148
I am not sure this is the alternative but in the new docs there is a mention of `HParam` class which is used for Tensorboard visualization: `from tensorboard.plugins.hparams import api as hp`.

[2020-04-14 15:59] #191 closed

[2020-04-14 16:49] bhack commented on #225
Also to be more inclusive Is there Github team with all the SIG official maintainers to mention? Cause I don't think that they are regularly watching this repo.

[2020-04-14 16:58] bhack opened #226 "Community repository minimum maintenance"
Can we expect to have a regular maintenance of this low traffic community repository?

* Many RFCs go regularly out of the comment deadline and we don't know the public status of the process for months.
* Many very trivial fixes on docs are not merged or if approved we need to wait for months.
* Many sparse topics issues like Gsoc/Code in are not closed or redirected to the right place.

I think t

[2020-04-14 17:02] theadactyl commented on #225
Not that I know of, but that could be helpful. Can you file an issue?

On Tue, Apr 14, 2020 at 9:50 AM bhack <notifications@github.com> wrote:

[2020-04-14 17:05] terrytangyuan commented on #225
@bhack @theadactyl I don't think there's a mega team for all the SIG maintainers yet. Though there are separate GitHub teams for different SIGs and each team is watching both their responsible SIG repo as well as this community repo.

[2020-04-14 17:06] bhack opened #227 "Create a Github team for SIG mantainers"
It could be helpful to quickly involve official SIG maintainers in general purpose SIGs threads/decisions.

https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams

[2020-04-14 17:09] bhack commented on #225
I've opened it https://github.com/tensorflow/community/issues/227.
But if we are sure that they are already actively watching this REPO you can close it.

[2020-04-14 17:33] bhack commented on #226
To improve the public communication It could be nice if the implementation start after the RFC it is public approved (merged) https://github.com/tensorflow/community/pull/182#issuecomment-613573220

[2020-04-14 17:38] mihaimaruseac commented on #226
Agree, but note that that commit you mention landed **after** the RFC approval, not before.

[2020-04-14 17:43] ematejska commented on #226
The problem here was with the process (I run the RFC process nowadays and take full responsibility.) The design was was reviewed but the communication was not good afterwards.  Thank you for this feedback.

[2020-04-14 17:44] bhack commented on #226
@mihaimaruseac I don't see this in our governance https://github.com/tensorflow/community/blob/master/governance/rfc-admin-guide.md#rfc-acceptance-process.
You can always open a PR to change our governance.

[2020-04-14 17:45] bhack commented on #226
@ematejska I am glad that you are the owner of the RFC. I hope that we could improve the labeling governance after the comment public deadline.

[2020-04-14 17:48] bhack commented on #226
@mihaimaruseac Don't take it as personal by downvoting. You are internal and sometimes you cannot understand that we are totally unaware of what will happen with respect to your internal threads. As a community we only know what is public.

[2020-04-15 00:40] terrytangyuan commented on #227
Another suggestion is that SIG maintainers should be able to merge PRs that modify the folders that we maintain. This would avoid situation like in https://github.com/tensorflow/community/pull/211 where the PR has not been merged yet (after 2 weeks at the time of writing).

[2020-04-15 00:57] bhack commented on #227
Mhh. It Is not explicit but I don't think they could be classified as maintainer in this repo: https://github.com/tensorflow/community/blob/master/governance/code-and-collaboration.md#maintainers

[2020-04-15 01:27] terrytangyuan commented on #227
Perhaps we could set up something similar to what's done in Kubernetes-related projects (e.g. Kubeflow) which use [prow](https://prow.k8s.io/command-help) and `OWNERS` file so that changes to sub-folders can be approved/merged by users specified in the `OWNERS` file in the corresponding sub-folder.

[2020-04-15 01:38] bhack commented on #227
What I meant Is that our ownership governance was about review not merge. Ownership and write power is not the same role in our governance:
https://github.com/tensorflow/community/blob/master/CODEOWNERS

[2020-04-15 01:53] terrytangyuan commented on #227
Oh I see what you mean now. Anyways, the more the community (especially SIG maintainers) can get involved and help move things forward quickly, the better.

[2020-04-15 01:54] bhack commented on #227
@terrytangyuan My opinon Is that with the right level of trust could be ok. But to achieve this we need to explict this interpretation somewhere in the governance folder and that the community team agree about this policy.

[2020-04-22 01:44] Ankuraxz commented on #213
@Conchylicultor I am also interested in *New models + colab demos* and *Core Model Migration to TensorFlow 2.x* reaally looking forward for an opportunity like GSOC 2020
#213

[2020-04-29 10:43] bhack opened #239 "Tensorflow addons promotion and TF"
Please take an overview of https://github.com/tensorflow/tensorflow/pull/33945#issuecomment-621117201

Can we document somewhere that new ops PR on Tensorflow duplicating TF addons implementations can pass through a small RFC proposal here (so that we include Addons removal or migration in the proposal)?

Currently we have https://github.com/tensorflow/addons/pull/774 that was approved directly in

[2020-04-29 16:42] karmel commented on #239
I'm not quite sure I understand-- is it correct that you want a policy on the TF side that requires an RFC for any op that is also available in addons? Or just a general policy from the TF side?

[2020-04-29 16:51] bhack commented on #239
Yes I meant that we have a policy on the SIG but not a policy on the TF side.

I think it could be easier if somebody try to bypass Addon to directly upstream TF for the TF team to route here at "community" for propose a "small overhead" RFC that eventually will include the superseed of the Addons impl.

It would be also clear-up a little bit what will be the evaluation process on TF side.
I don't

[2020-04-29 20:23] bhack commented on #239
/cc @seanpmorgan

[2020-04-29 20:54] bhack commented on #239
Probably we could use a specific PR template to lower the overhead of this fast RFC and to self-check early if It Is in good compliance wirh TF team eval migration parameters.

I don't know if you have a smooth process.

[2020-05-01 13:40] seanpmorgan commented on #239
A PR template sounds like a good idea. I'm slightly worried about how different they will need to be for TF-core and for Keras... perhaps you'd be willing to create example templates and we could discuss the differences?

[2020-05-01 14:39] bhack commented on #239
@seanpmorgan It would be ideal but I don't know if we could achieve that goal.
The requirements could diverge cause "de facto" for  a prespective RFC merge we are passing the maintainer-ship baton to two different teams (Keras/Tensorflow) which could have two different public  requirements to get it in charge.
The scope of this ticket is to have a more transparent and `ant-stalling` RFC process  b

[2020-05-02 13:15] bhack commented on #239
I try to propose an actions list that could build up a generic infra also for the upstream process:

* Create a github PR template here for "upstream" type RFCs (the template will define the fields that are needed for the TF-core team to looking for a sponsor)
* Select a standard deadline interval "waiting for a TF sponsor" phase (1 month, 2 month ?)
* Create a new project if the [current kban](ht

[2020-05-07 11:17] bhack opened #242 "Tensorflow to Sig downstreaming"
As we are already improving the upstreaming/promotion process with RFC template at https://github.com/tensorflow/community/pull/241 it could be useful to have something similar for downstreaming so that we could cover cases like https://github.com/tensorflow/addons/issues/1781

[2020-05-07 11:22] bhack commented on #239
We are working on https://github.com/tensorflow/community/pull/241 for the upstreaming/promotion
And we have a new ticket for downstreaming at https://github.com/tensorflow/community/issues/242 that I hope will open a new RFC template PR like for the upstream process.
I am closing this please reopen if needed.

[2020-05-07 11:22] #239 closed

[2020-05-21 13:25] dwarfKing777 opened #248 "/posenet/ios/: Unresolved identifier 'CoreMLDelegate'"
# Community repo
I loaded iOS project to Xcode from below location:
examples/lite/examples/posenet/ios/

I am getting below error on building the project:
Use of unresolved identifier 'CoreMLDelegate'

[2020-05-30 16:51] peter197321 opened #251 "How MLIR relates to TF-Lite, GPU delegates, NNAPI?"
As a current user of TensorFlow-lite where NNAPI or GPU delegate are used to execute an inference on accelerated IP block then I have outlook question if this MLIR can replace or live side-by-side to this now existing mechanism (NNAPI, delegates or MLIR is about to replace those approaches?

[2020-06-05 21:53] bhack commented on #29
@theadactyl I don't know if you have something new to share.
In the meantime, for the grooming part of this ticket, probably we could start to re-triage the top 10 bugs [in this list](https://github.com/tensorflow/tensorflow/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-asc) once at week.
What do you think? As you can see there are issues that was last commented in 2017.

[2020-06-05 22:01] martinwicke commented on #29
@dynamicwebpaige @goldiegadde FYI

We have been picking off issues, but definitely not FIFO. I'm wondering whether it's possible to surface our prioritization to create a roadmap? I know we're doing that for release milestones, but it might also make sense more generally to give a better sense of progress.

[2020-06-05 22:11] bhack commented on #29
@martinwicke I understand that there can be a kind of tension towards exposing your cards to the competition from a commercial/strategic point of view.
But other then make a better "sense of progress" the point it also about to let the single user, contributors or just business integrators to make a little bit of planning on their own activities that are related to the framework which is a factor

[2020-06-05 22:36] martinwicke commented on #29
I agree. It's less of a "keep our cards close to our chest" problem than a process problem. Keeping several tracking systems in sync and up to date is work, and someone has to do that. I want to avoid just adding more stale sources of information.

[2020-06-05 22:56] bhack commented on #29
If It is a process problem I think we are in a better potential position to find a solution than starting from a policy issue.
We have some example of quite large projects like partially Kubernetes with its SIGs or Vsocde with its components and extension that have found some solutions. It Is not perfect but better then nothing.

Just to make you an recente example:
[numpy_ops](https://github.com/

[2020-06-07 09:34] bhack commented on #251
I think nobody here will reply to your question. It Is better that you close this and post this question at https://groups.google.com/a/tensorflow.org/forum/m/#!forum/mlir.

You could be also interested in https://github.com/tensorflow/runtime/issues/6

[2020-06-08 23:23] bhack commented on #29
I think that the community could help you in this effort but you need to start somewhere to organize this process an ask for community support.

It is really hard to maintain the ticket system when the status and labels start to be so noised.
E.g. how you can progress o review priorities in you ticket routines where in a queue with issues `awaiting tensorflower" you have tickets in this status fro

[2020-06-13 22:04] ishdutt opened #259 "Lack of proper documentation to remove tf.contrib module from V1's code"
# Community repo

There is no effective guide/documentation showing how to get rid of the `tf.contrib`'s modules of V1 and their alternatives in V2 of Tensorflow. The only page that exists is this RFC: [Sunsetting contrib](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) which is pretty outdated and needs modification. It has many blank slots,**?** indicating th

[2020-06-15 17:09] #251 closed

[2020-06-17 13:39] #227 closed

[2020-06-17 16:07] bhack commented on #242
I think that we could also add an extra bullet point in https://github.com/tensorflow/community/blob/master/governance/api-reviews.md#experimental-apis before the deprecation option.

[2020-06-20 22:54] bhack commented on #242
https://github.com/tensorflow/addons/pull/1944

[2020-06-24 09:11] lsdmen23 commented on #222
Great

[2020-06-24 09:12] lsdmen23 opened #261 "Développement"
# Community repo

The only issues you should file here concern the community's documentation or processes.

All other bugs should be filed on the appropriate repo, questions directed to the various email groups, or if it's a "how-to" question, StackOverflow.

[2020-06-26 03:53] wanx7130 opened #263 "tf.nn.bias_add's param data_format question"
I am using bias_add operator to construct graph. Its shape is 5D and data_format is "NCDHW", but when viewing the graph, it is "NHWC". Is this normal?

[2020-07-04 23:40] BCoxford opened #264 "Internal: Invoking GPU asm compilation is supported on Cuda non-Windows platforms only"
I am receiving this error message when running my tensorflow program.

Error Message: tensorflow/stream_executor/gpu/redzone_allocator.cc:314] Internal: Invoking GPU asm compilation is supported on Cuda non-Windows platforms only
Relying on driver to perform ptx compilation.
Modify $PATH to customize ptxas location.
This message will be only logged once.

I do not believe it is an issue with my pr

[2020-07-06 13:13] Adblu commented on #92
I had to reinstall tensorflow from 1.13 to 1.14 and that worked for me.

[2020-07-09 07:03] suvicharsadhana opened #265 "np.load('vgg16.npy',encoding='latin1', allow_pickle=True) getting error "Ran out of input""
# Community repo

np.load('vgg16.npy',encoding='latin1', allow_pickle=True) getting error "Ran out of input"

[2020-07-11 10:38] bhack commented on #226
Can you give a pass to noise tickets?

[2020-07-12 11:21] bhack commented on #223
I will add in the target contributions repos the new keras-cv and keras-nlp.

[2020-07-14 10:29] bhack commented on #29
In the meantime can we create a newsletter where every Tensorflow internal team/SIG can contribute?
E.g. the Tensorflow/Google guys in MLIR are doing a good work with their newsletter edition: https://llvm.discourse.group/t/mlir-news-11th-edition-7-11-2020/1326

[2020-07-26 10:36] alexjunyue opened #272 "import problem hope to solving it"
Traceback (most recent call last):
  File "/Users/alexjunyuexuli/anaconda3/envs/tensorflow/lib/python3.7/site-packages/tensorflow_core/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/Users/alexjunyuexuli/anaconda3/envs/tensorflow/lib/python3.7/site-packages/tensorflow_core/python/pywrap_tensorflow_internal.py", line 28, in

[2020-07-27 17:09] mihaimaruseac commented on #272
This should be opened in https://github.com/tensorflow/tensorflow as it seems to be related to the code there. When you open it there, can you please fill in the issue template (macos version, TF version, pip version, building from source or installing from pip or from conda?). Also, when you open the issue there, can you also provide the outputs of

[code]

by attaching `log.txt`?

You can mentio

[2020-07-28 22:01] bhack commented on #223
E.g. See https://github.com/tensorflow/models/pull/8962#pullrequestreview-457058720

[2020-07-29 04:14] alexjunyue commented on #272
thanks for your response feedback infos.
it 's copying after installed i's infos.
Installing collected packages: tensorflow-estimator, tensorflow
Successfully installed tensorflow-2.0.1 tensorflow-estimator-2.0.1

1: i have used pip to installed it
2:macos:10.10.5
3:tf-version==2.0.1
4:pip-version==pip 20.1.1 from /anaconda3/lib/python3.6/site-packages/pip (python 3.6)

please  checking my respons

[2020-07-29 04:17] alexjunyue commented on #272
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/tensorflow_core/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/anaconda3/lib/python3.6/site-packages/tensorflow_core/python/pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "/a

[2020-07-29 17:41] mihaimaruseac commented on #272
Please run
[code]

and **atach** `log.txt`

[2020-07-30 03:09] alexjunyue commented on #272
alexjunyuexulis-MacBook-Pro:~ alexjunyuexuli$ vim log.txt

import _frozen_importlib # frozen
import _imp # builtin
import sys # builtin
import '_warnings' # <class '_frozen_importlib.BuiltinImporter'>
import '_thread' # <class '_frozen_importlib.BuiltinImporter'>
import '_weakref' # <class '_frozen_importlib.BuiltinImporter'>
import '_frozen_importlib_external' # <class '_frozen_importlib.FrozenIm

[2020-07-30 03:34] alexjunyue commented on #272
please checking .
thanks so much !

[log.txt](https://github.com/tensorflow/community/files/4998618/log.txt)

[2020-07-30 22:04] mihaimaruseac commented on #272
What is the output of `python -c "import imp"`?

[2020-07-30 22:05] mihaimaruseac commented on #272
Also, what is the output of `pip list`?

[2020-07-31 05:45] alexjunyue commented on #272
it is pip list's infos.

alexjunyuexulis-MacBook-Pro:~ alexjunyuexuli$ pip list
Package                            Version
---------------------------------- ----------------------
absl-py                            0.9.0
alabaster                          0.7.10
anaconda-client                    1.6.14
anaconda-navigator                 1.8.7
anaconda-project                   0.8.2
appnope

[2020-07-31 05:51] alexjunyue commented on #272
alexjunyuexulis-MacBook-Pro:~ alexjunyuexuli$ python -c "import imp"
alexjunyuexulis-MacBook-Pro:~ alexjunyuexuli$

i used your request (python -c "import imp")command to enter it ,nothing response .
please checking .

thank you so much!

[2020-07-31 18:28] mihaimaruseac commented on #272
The `import imp` test looks ok. The `pip list` looks very big. Can you try to create a new virtualenvironment and install `tensorflow` into that one? If possible, can you use TF 2.3 instead of TF 2.0?

[2020-08-02 03:18] 18liumin opened #274 "tensorflow compile error"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	C3805	“类型”: 意外标记，应输入“}”或者“,”	Project1	C:\Users\SZF\Desktop\tensorflow_v2.2.0\include\tensorflow\core\framework\types.pb.h	108
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	C2589	“(”:“::”右边的非法标记	Project1	C:\Users\SZF\Desktop\tensorflow_v2.2.0\include\tensorflow\core\platform\default\logging.h	387

[2020-08-04 22:27] bhack commented on #29
Seems that there are other little steps like https://github.com/tensorflow/tensorflow/issues/42047
This an internal issue put in 2.4.0 project kanban.
it looks like something's moving on...

[2020-08-15 07:45] GialiBoM opened #279 "Use my model in a webpage"
I have created an object recognition model, using Colab where I can load an image from my drive and the model recognizes the object from my object
I saved the model in **.json** with its related **.bin** sheets
But I also have the same model saved in **.py .ipynb .h5**

I would like to apply this acknowledgment template on my website, in JS

I've been trying to find out online for days, or reading

[2020-08-19 05:39] lithuak opened #280 "Broken link for "TF API Owners""
[This "Overview" section](https://github.com/tensorflow/community/blob/master/governance/api-reviews.md#overview) contains the broken link: [TF API Owners](https://github.com/orgs/tensorflow/teams/api-owners)

[2020-08-24 10:42] engrmz opened #282 "How to Debug Tensorflwo Sesssion"
Hello everyone,

Can anyone please tell me, how could we debug the sessions.run() in tensorflow. Please give an example. Thank you.

            with tf.Session() as sess:
                  image_data = sess.run(next_image_data)

[2020-09-01 10:47] FilloFolla commented on #264
Gasp. I have the same problem

[2020-09-07 21:10] hodovani commented on #279
@GialiBoM could you please clarify your problem?

[2020-09-11 11:52] wingedrasengan927 commented on #148
worked for me

[2020-09-21 16:04] anantgupta129 opened #290 "Tensorflow"
# Community repo

I am working on cnn model which has 4 conv layers and 3 dense layers. dataset have around 28000 images and 7000 test images. The model has saved checkpoints and I have trained it several times and achieved 60 % accuracy so far, and while training learning rate is reduced to 2.6214403e-07 (as i used ReduceLROnPlateau factor 0.4). I have question if I increased the learning rate sa

[2020-09-22 15:48] preyash2047 commented on #279
I am also having  the issue, unable to load my .json model using tf.loadModel("path to model")

It is showing  this error "tf.loadModel" is not function

How to load keras based model in js?

[2020-09-22 17:45] hodovani commented on #279
@preyash2047 thanks for your report.

[Here](https://github.com/tensorflow/tfjs-examples/tree/21d2eb88ea444f3056b887c57c07dd8ce924faf0/mnist-transfer-cnn) is a good example where you can find how to import your model. Could you please run it locally and confirm that `loadLayersModel ` works for you in this example. [Here](https://github.com/tensorflow/tfjs-examples/blob/21d2eb88ea444f3056b887c57c0

[2020-09-22 17:57] preyash2047 commented on #279
Thank you for Quick reply,

i found error: "Uncaught TypeError: Failed to resolve module specifier
"@tensorflow/tfjs". Relative references must start with either "/", "./",
or "../"."
I am googling this for two days still not find the solution for this,
how to solve above mentioned error

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5

[2020-09-23 06:43] GialiBoM commented on #279
Sorry if I answer just now
I leave you my exact question, with reference code here
https://stackoverflow.com/questions/63703062/load-object-recognition-model-created-in-colab-in-a-javascript-web-page

[2020-09-23 06:44] GialiBoM commented on #279
@hodovani Sorry if I answer just now
I leave you my exact question, with reference code here
https://stackoverflow.com/questions/63703062/load-object-recognition-model-created-in-colab-in-a-javascript-web-page

[2020-09-23 12:20] preyash2047 commented on #279
Thank you,

I have just solved the error, with this simple code:
https://github.com/preyash2047/preyash2047.github.io/blob/master/home/test.html
which is hosted on https://preyash2047.github.io/home/test

thank you

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm

[2020-09-25 11:52] oliverpolden commented on #148
I saw a post favouring keras-tuner to hparams as hparams was removed from contrib. I don't think they realised it moved to plugins as stated above.
From my limited reading it looks like using Tensorboard's hparams might allow you more useful analysis within Tensorboard.
Is there any advantage using keras-tuner vs hparams?

[2020-09-30 04:22] preyash2047 commented on #279
Hey,
I have done project on handwritten text recognition and implemented using tensorflow.js, and I have implemented this on 25th Sep 2020, so everything will work for you also
check out my project which is live at https://preyash2047.github.io/textdetection.html
Repo: https://github.com/preyash2047/preyash2047.github.io/blob/master/textdetection.html

Note: use console to know the status of model

[2020-09-30 10:59] stromal opened #294 "ERROR subscribe to tensorflow newsletter"
https://services.google.com/fb/forms/tensorflow/
"Thank you for your interest. The form you are trying to access has either expired or reached its maximum registration limit."

With and without  google extensions.

![tf newsleeter](https://user-images.githubusercontent.com/19979901/94677118-49f5b200-0314-11eb-9a6d-b16e6aef8498.PNG)

[2020-09-30 18:42] bhack commented on #242
@seanpmorgan I suppose that we can close this a we are not handling this anymore. We just accept downstreaming Issue/PR from TF teams

[2020-10-05 09:55] donglinz commented on #264
same

[2020-10-07 07:50] xielongze commented on #264
same problem with tf2.1.0, python 3.7.0

[2020-10-07 11:31] IIEliteIISquady commented on #264
I've had to reinstall it and have followed a tutorial using older compatible versions and it worked perfectly fine.

[2020-10-11 07:25] TVI-BIZ commented on #248
same here. copy from official repo

[2020-10-11 15:34] di-d6 opened #296 "same here. copy from official repo"
same here. copy from official repo

_Originally posted by @TVI-BIZ in https://github.com/tensorflow/community/issues/248#issuecomment-706663010_

[2020-10-11 15:41] TVI-BIZ commented on #248
I solve it. The solution founded in TF site.
the problem in pod file
find the string: pod 'TensorFlowLiteSwift/CoreML', '~> 0.0.1-nightly'
and change it to pod 'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['CoreML'] - it solve all you problem.
if you also have problem with MetalDelegate
'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['CoreML','Metal']
not sure about it is exact

[2020-10-11 16:45] di-d6 opened #297 "same here. copy from official repo"
same here. copy from official repo

_Originally posted by @TVI-BIZ in https://github.com/tensorflow/community/issues/248#issuecomment-706663010_

[2020-10-15 13:48] therc01 commented on #290
Hi, please assign me this issue.

[2020-10-15 14:19] mihaimaruseac commented on #290
This should be asked on StackOverflow, or elsewhere. The community repo is about comunity organisation and RFCs.

[2020-10-16 14:38] Xperiencee commented on #264
Can you provide the link to that tutorial and the compatible version that worked for you please
?

[2020-10-19 11:19] sourabh-st opened #305 "Tensorflow TypeError"
`import tensorflow.keras as tf
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

mnist = tf.datasets.mnist
(x_train,y_train),(x_test,y_test ) = mnist.load_data()
print(len(x_train))
plt.imshow(x_train[4],cmap='gray')
plt.show()

#Creating the Mode

[2020-10-26 05:27] adityasaini70 commented on #305
You're essentially adding a Keras layer to a _purely_ Tensorflow based model which results in the error. Since you've already done
[code]
at the top. So just change
[code]
to
[code]

[2020-10-29 08:59] ylzzz opened #319 "AttributeError: module 'tensorflow._api.v1.keras.losses' has no attribute 'SparseCategoricalCrossentropy'"
Hello, I am a beginner, I would like to ask why this problem occurs.Why does it show “module 'tensorflow._api.v1.keras.losses' has no attribute 'SparseCategoricalCrossentropy'”？I want to know how to solve it.Please.Thank you!

[2020-10-29 18:51] ErikRobles commented on #148
Could you please explain this in a bit more detail. I have been fighting this for hours now. Thank you

[2020-11-07 07:26] #319 closed

[2020-11-07 07:28] ylzzz opened #320 "AttributeError: 'function' object has no attribute 'Tokenizer'"
Traceback (most recent call last):
  File "E:/practice/python/2text.py", line 72, in <module>
    tokenizer = tfds.features.text.Tokenizer()
AttributeError: 'function' object has no attribute 'Tokenizer'

ps：Can someone please tell me how to solve this problem, I used the demo in the tensorflow document, but an error was reported in this place？

[2020-11-10 03:21] Eatingbiu opened #321 "TypeError in CODEOWNERS document"
# Community repo

The only issues you should file here concern the community's documentation or processes.

All other bugs should be filed on the appropriate repo, questions directed to the various email groups, or if it's a "how-to" question, StackOverflow.

TensorFlow/Community/CODEOWNERS
line10：
username "angersson" is supposed to be "angerson".

[2020-11-11 04:06] daspranab opened #322 "Framework class error"
Tensorflow attribute placeholder is giving rise to error. However, when changing to Variable, it causes a framework class to break. A detailed step to reproduce on a laptop with a graphics card and tensorflow-gpu installed is described here: https://github.com/tensorflow/tensorflow/issues/44641#issuecomment-724490292. However, I am asked to repro the problem on Colab that will not resolve the issu

[2020-11-15 16:43] YuriyTigiev opened #329 "The error was: SyntaxError: Unexpected token < in JSON at position 6"
I  can't upload the ipynb files to anaconda from (https://github.com/tensorflow/docs/tree/master/site/en/r1/tutorials/keras
)

Any upload files return an error "The error was: SyntaxError: Unexpected token < in JSON at position 6"

https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/keras/basic_classification.ipynb
![image](https://user-images.githubusercontent.com/22752322/9919096

[2020-11-17 13:51] GustavoMSevero opened #330 "I can't run my models on object detection for Android"
Hi guys!
I'm trying to develop an app to recongnize 2 kind of images, but i'm using models i have trained on Teachable Machine and put them in assets folder and nothing, nothing is detected kkkkkkk
It's been two weeks i'm looking for videos in youtube, archives in the internet trying to find out what's happing and to know why tflite package doesn't exists and nothing too. So, if anyone could help

[2020-11-22 01:51] dreamee-git commented on #264
same problem with Tensorflow 2.3.1, Python 3.7.9, cuda 10.1, cudnn 7.6.5 on Windows 10 Enterprise

[2020-11-22 11:06] BCoxford commented on #264
They’ve done an update since I posted this error and now there is a compatible version for Python 3.8. I’ll see how it goes and will respond if I get it to work.

[2020-11-22 13:50] Miles345 commented on #264
Have the same problem. It is using the gpu after the message but CPU is the bottleneck.

[2020-11-23 01:55] terrytangyuan commented on #321
@Eatingbiu Thanks for reporting. I've submitted https://github.com/tensorflow/community/pull/332 to fix this.

[2020-11-23 01:59] Eatingbiu commented on #321
@terrytangyuan Thanks!

[2020-11-23 05:07] xielongze commented on #264
I've encountered the same problem but then I found out it was the data augmentation that slowed the process down. After I deleted that part of the code, the CPU is no longer the bottleneck. Don't know whether this is helpful or not.

[2020-11-27 04:35] swad007 commented on #305
import tensorflow.keras as tf
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

mnist = tf.datasets.mnist
(x_train,y_train),(x_test,y_test ) = mnist.load_data()
print(len(x_train))
plt.imshow(x_train[4],cmap='gray')
plt.show()

#Creating the Model

[2020-11-30 16:46] Pointdexter99 commented on #294
It's working fine for now.

[2020-11-30 17:04] Pointdexter99 commented on #320
Tokenizer() isn't an attribute of tfds.features.text API it's  an attribute of tf.keras.preprocessing.text. Ex: tf.keras.preprocessing.text.Tokenizer(
    num_words=None, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True,
    split=' ', char_level=False, oov_token=None, document_count=0, **kwargs
)

I might be wrong, but this was what i found to help you out.

[2020-12-04 23:41] imaneBYD2020 opened #336 "tflite can't predict correctly as a keras model h5"
# Community repo

The only issues you should file here concern the community's documentation or processes.

All other bugs should be filed on the appropriate repo, questions directed to the various email groups, or if it's a "how-to" question, StackOverflow.

[2020-12-04 23:45] imaneBYD2020 commented on #336
Hello i use a model keras saved in h5 format it can predict corectly the classes i convert it into a tflite , it can predictjust one class it fixed
here is my keras model:
base_model = NASNetMobile(include_top=False, weights='imagenet',input_shape=(image_size, image_size, 3))
bn = BatchNormalization()(inputs)
x = base_model(bn)
x = GlobalAveragePooling2D()(x)
x = Dense(512, activation='relu')(x)
x

[2020-12-05 03:54] mihaimaruseac commented on #336
This is not the right place for this issue.

Please file an issue in https://github.com/tensorflow/tensorflow

[2020-12-05 03:54] #336 closed

[2020-12-09 02:11] IanFLee opened #338 "No alternative for tf.contrib.graph_editor ?"
I need early tensorflow to train a gpt2 model, becase tf versions > 2 don't include .contrib. I need the graph_editor, which apparently didn't get a f unction in  versions 2+

I have also tried to just download the earlier tensorflow versions, however the only way I can do that is by downgrading Python versions from 3.8 to ~3.5.6 and that becomes its own mess because for some reason that isn't wor

[2020-12-29 14:45] bhack commented on #29
Again about a Roadmap subtopic on contribution conflicts that I tried to solve since 2016:
We just talked with @mdanatg that we could be still exposed to contribution conflicts and a fresh case is at https://github.com/tensorflow/tensorflow/issues/44485#issuecomment-752100847

[2020-12-29 15:55] prattcmp commented on #148
A simple, Pythonic solution:

[code]

[2020-12-29 17:01] mihaimaruseac commented on #29
I'll try to bring this up on the next meeting in January (Thursday)

[2020-12-29 17:10] bhack commented on #29
@mihaimaruseac Thanks. I hope we could finally make some progress with the new year.

[2021-01-07 22:39] bhack commented on #338
You can check https://github.com/CODAIT/graph_def_editor

[2021-01-13 17:16] ematejska commented on #280
This link seems works for me (at least now).  Please re-open if that still doesn't work.

[2021-01-16 13:51] rshah1990 opened #345 "How to read Parquet gzip file in tensorflow dataset API"
Hi Team,

I have multiple Parquet file in Gzip format which I have to read in using Tensor flow dataset API, I could not find any standard function in Dataset API does that, do we have any alternative for this.  I want to use Interleave to get better performance.

[2021-01-22 09:20] somum opened #347 "Save a Tensor"
I have a tensor variable like

vb = tf.Variable(tf.zeros([visibleUnits]), tf.float32)

Data shape of vb looks like :

<tf.Tensor: shape=(,), dtype=float32, numpy=
array([,]], dtype=float32)>

I want to save this vb locally for further use any solution? Thank you

[2021-01-25 05:43] lghasemzadeh opened #348 "tensorflow models/face landmarks detection"
Hello,

Do the tensorflow face landmarks detection and Iris landmarks models work on Infrared/grayscal image/video? I have a camera which captures Infrared streams, can I run this model over the infrared videos that I recorded with that camera? does the model work the same as when it works with RGB videos or real-time RGB streams.  @tensorflow @tensorflow-models/face-landmarks-detection @tensorflo

[2021-02-01 19:10] kumaradityaka commented on #347
Create a Saver object : ` tf.train.Saver() `
In a session call `saver.save()` function to save the variable on the disk.

[2021-02-16 18:26] #321 closed

[2021-02-19 05:48] PulkitSinghDev opened #356 "Please add me to TensorFlow GitHub community organization"
Name:- Pulkit Singh

[2021-03-02 06:16] divyanshugit opened #361 "How to use distribution strategy at the time of production?"
I want to use distributed strategy at the time of production. Can you please help out with this? I am using **amazon sagemaker** `conda_amazonei_tensorflow2_p36` as a kernel.

[2021-03-02 09:58] divyanshugit opened #362 "Unable to see the documentation!"
The link to the documentation is [here](https://www.tensorflow.org/versions/r0.11/how_tos/using_gpu/index.html#allowing-gpu-memory-growth)
![Screenshot (283)](https://user-images.githubusercontent.com/53843818/109631334-dd553c80-7b6b-11eb-9118-3b5d9f0d25d6.png)

[2021-03-24 20:29] suryadesu commented on #362
Hi,
I think that the link points to tensorflow version of v0.11 which I don't think is part of tensorflow.org anymore. If you are looking out for reference about memory growth in the latest version, I would suggest you to take a look at [set_memory_growth](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth)
However, if your question is about tensorflow v0.11, then

[2021-03-27 18:05] Kareem-negm opened #374 "How do I connect with GSoC 2021 Mentors?"
Hi,
 I am Kareem Negm, a GSoC 2020 aspirant
I've been preparing myself for over a year for this summer with TensorFlow.

But now I have a lot of trouble communicating with the mentors.
I've been trying for weeks to get more information about the project I've chosen from the projects list [here](https://docs.google.com/document/d/1TmiAqksKE9HqLll9y2j3vozToh7DnzlpP_EVJ2uGvVY/edit#), but to no avail.

[2021-03-29 08:40] Ashvith commented on #374
Hey, I am interested for the same as well. I want to port/improve TensorFlow in Ruby, if that's okay? But sadly, there aren't any proper resources, or even a Slack group to talk to mentors?

[2021-03-30 14:57] #362 closed

[2021-03-30 20:22] adriangb commented on #280
It's broken. Doesn't work for me. Maybe it's an internal link?

[2021-03-30 20:34] jshu12 opened #378 "sample_weight in model.fit() does not work on Tensorflow 2.1"
I'm trying to use sample_weight in the model.fit() function, and it doesn't work on Tensorflow 2.1. The bug is fixed on Tensorflow 2.2 and later. But for various reasons, my team prefers to keep using TF 2.1. Can you patch TF2.1 with the fix, or show me how to do it myself?

Here's my code:

[code]

Here's the error message from TF 2.1:

`ValueError: weights can not be broadcast to values. values.

[2021-03-30 20:48] allenlavoie commented on #280
It's possible the visibility for that team is set incorrectly (only people in the TF github org?). It doesn't look like a "secret" team to me; it's listed under visible teams. Opening the link in an incognito window does ask me to sign in, which seems wrong.

[2021-03-30 20:54] adriangb commented on #280
If you can't get to it in an incognito window, then it's not a public link. I'm seeing the same thing in incognito.

[2021-03-30 21:16] bhack commented on #280
@allenlavoie Probably the visibility concept is different in Github. See https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams#team-visibility

[2021-03-30 21:22] allenlavoie commented on #280
Ah, good catch "Visible teams can be viewed and @mentioned by every organization member."; so the exception indicates the rule that non-organization members can't view them. We should probably remove the link and find another way to communicate the information.

@ematejska I don't think anyone else can re-open bugs here.

[2021-03-30 21:28] bhack commented on #280
I think also @theadactyl can reopen it

[2021-03-31 00:12] bhack commented on #206
We can close this

[2021-03-31 08:45] lc0 commented on #29
Thanks for pushing this topic @bhack also for linking it throughout GitHub. Definitely valuable for the community

[2021-04-01 19:29] ben-xD commented on #374
I don't even know how you got that link, its really hard for me to get involved.

[2021-04-02 05:51] Ashvith commented on #374
Same mate. I am surprised as well.

[2021-04-02 13:47] bhack commented on #280
I propose a solution with https://github.com/tensorflow/community/pull/379

[2021-04-02 17:20] theadactyl commented on #280
cc @ematejska can you take another look?

[2021-04-02 18:23] #280 closed

[2021-04-02 18:45] bhack commented on #7
Can we close this?

[2021-04-02 19:12] jayfurmanek commented on #7
Thanks yea, I think we can close this tracking issue.

[2021-04-02 19:16] bhack commented on #7
@ematejska can you close this?

[2021-04-02 19:17] bhack commented on #178
@ematejska Can we close this?

[2021-04-02 19:18] bhack commented on #206
@ematejska We can close this

[2021-04-02 19:22] bhack commented on #348
I suggest to ask this in the Mediapipe repo https://github.com/google/mediapipe/ /cc @ematejska we can close this.

[2021-04-02 20:40] ematejska commented on #206
Thanks for the contribution!

[2021-04-02 20:41] #206 closed

[2021-04-05 13:09] #7 closed

[2021-04-06 16:50] ematejska commented on #178
Since the question was answered.  Closing.

[2021-04-06 16:50] #178 closed

[2021-04-08 06:30] #290 closed

[2021-04-17 02:17] o0stsou0o opened #383 "Tensorflow 2.3 or 2.4 installation MacOs 10.11.16"
I have had trouble installing tensorflow 2.3 and on my Mac.  I've tried both in a virtual environment and a conda environment.  I've also taken into consideration python2 and python3.  If I pip install, I get a tensorflow 1.8 installation in python3 and when I conda install I get a tensorflow 2.0.  If I pip install an upgrade, I get a strange error in interactive python3 upon importing:

File "/Us

[2021-05-04 19:25] yarri-oss commented on #383
@o0stsou0o can you please file TensorFlow related issues at https://github.com/tensorflow/tensorflow/issues ? Thanks!

[2021-05-04 19:27] yarri-oss commented on #378
@jshu12 Can you please file this issue on the main TensorFlow repo https://github.com/tensorflow/tensorflow/issues Thanks!

[2021-06-25 02:17] jienhui9407 opened #392 "I have en error in the exam of tensorflow certificate"
# Community repo
Everthing is already for this exam, When I use pycharm to sign in with my google account, I have pass the google account. The broswer said that you have signed in to the Certification Assistant. You can close this window and return to your IDE.  However, I return to pycharm but it said "An error occured while trying to sign in: Connection reset". I dont know why it happened.

[2021-06-28 07:30] wangsuzhen commented on #148
In TF 2.0 there is a new API tensorboard.plugins.hparams.api that includes a class HParam

Usage of the new API is described in this guide: Hyperparameter Tuning with the HParams Dashboard

[2021-07-17 12:02] #374 closed

[2021-07-18 13:47] BIGINCHI commented on #159
tf.keras.Sequential

[2021-07-23 20:28] ronnie-bit commented on #264
Hi

The clear answer is that CUDA 10.1 does not support Tensorflow 2.2.0 and above versions
rather you have to install tensorflow 2.1.4 with other specific compatible combinations

first you have to uninstall the existing following packages

now copy n paste following one by one in command prompt

pip install tensorflow==2.1.4 tensorflow-gpu==2.1.4 tensorflow-estimator==2.1.0 tensorflow-gpu-estima

[2021-09-14 16:01] Hjiwnain opened #399 "README"
Can we update the readme with local installation of tensor flow? I am really new to open source it would be great if I could contribute.

[2021-09-14 16:07] #399 closed

[2021-10-01 13:52] Ramesh7143 opened #401 "While training my model for long time some times my runtime got disconnected in googlecolab after the my model training again starts from first epoch even if I save the checkpoints for my model training in TensorFlowlite model maker how can I resolve that issue"

[2021-11-05 02:36] aeromag00 commented on #264
It's same my case. I use below version.
#CUDA==10.1u2
#cuDNN==7.6.5
#tensorflow-gpu==2.3.0

[2021-12-09 06:45] Javier761227 opened #405 "Dal"
Dal https://g.co/kgs/svNTeY

[2021-12-09 16:42] #405 closed

[2021-12-09 16:45] ematejska commented on #401
Hi,  this repo isn't a support channel.  I recommend you ask your question in the TensorFlow forum: https://discuss.tensorflow.org/

[2021-12-09 16:45] #401 closed

[2022-01-29 18:02] callmekofi commented on #383
Could you set up an Anaconda environment and try installing tensorflow from there. check [here](https://github.com/apple/tensorflow_macos)

[2022-01-31 23:47] bhack commented on #226
@ematejska I think that we could evaluate to close almost all the open issues in the repo.

[2022-01-31 23:59] ematejska commented on #226
@bhack @theadactyl and I have started to go through these on a periodic cadence.  We should get to these issues early next week at the latest.

[2022-02-01 00:09] bhack commented on #226
Thanks

[2022-02-01 00:25] #378 closed

[2022-02-01 00:25] #383 closed

[2022-02-01 00:25] #348 closed

[2022-02-01 00:26] theadactyl commented on #361
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:26] theadactyl commented on #361
w

[2022-02-01 00:26] #361 closed

[2022-02-01 00:27] theadactyl commented on #356
Hi Pulkit, we don't add members to the GitHub organization unless they are active code contributors.

[2022-02-01 00:27] #356 closed

[2022-02-01 00:28] theadactyl commented on #347
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:28] #347 closed

[2022-02-01 00:28] theadactyl commented on #345
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:28] #345 closed

[2022-02-01 00:28] theadactyl commented on #338
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:28] #338 closed

[2022-02-01 00:28] theadactyl commented on #330
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:28] #330 closed

[2022-02-01 00:29] theadactyl commented on #329
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:29] #329 closed

[2022-02-01 00:29] theadactyl commented on #322
We don't offer technical support on this repository. I recommend you create a topic in the TensorFlow Forum: https://discuss.tensorflow.org/

[2022-02-01 00:29] #322 closed

[2022-02-01 00:30] #217 closed

[2022-02-01 00:30] #248 closed

[2022-02-01 00:30] #263 closed

[2022-02-01 00:30] #264 closed

[2022-02-01 00:30] #265 closed

[2022-02-01 00:30] #272 closed

[2022-02-01 00:30] #274 closed

[2022-02-01 00:30] #279 closed

[2022-02-01 00:30] #282 closed

[2022-02-01 00:30] #305 closed

[2022-02-01 00:30] #320 closed

[2022-02-01 00:31] theadactyl commented on #213
Hi all! Now that we have the forum, I recommend you create a topic in the TensorFlow Forum to network with other GSOC participants: https://discuss.tensorflow.org/

[2022-02-01 00:31] #213 closed

[2022-02-01 00:31] theadactyl commented on #222
Hi all! Now that we have the forum, I recommend you create a topic in the TensorFlow Forum to network with other GSOC participants: https://discuss.tensorflow.org/

[2022-02-01 00:31] #222 closed

[2022-02-01 00:32] theadactyl commented on #261
Agreed! Now that we have the TensorFlow Forum, I recommend creating topics there: https://discuss.tensorflow.org/

[2022-02-01 00:32] #261 closed

[2022-02-01 00:32] #242 closed

[2022-02-01 00:34] #225 closed

[2022-02-01 00:34] theadactyl commented on #223
@bhack still interested in this?

[2022-02-01 00:36] theadactyl commented on #29
We've instituted a lot of programs to manage issue backlog triage, etc. We are still looking at improving public roadmap access, but are making progress with teams posting to the forum: discuss.tensorflow.org.

I'm going to close this issue for now, feel free to open new ones against more specific processes.

[2022-02-01 00:36] #29 closed

[2022-02-01 00:37] theadactyl commented on #259
Hi ishdutt, apologies for the late response. This would be better addressed by the Core or Website teams, as the community team doesn't have granular information about the contrib turndown. Will pass this feedback along in case it's still impacting contrib users.

[2022-02-01 00:37] #259 closed

[2022-02-01 00:38] theadactyl commented on #226
Got to the issues! We are working steadily on the RFC backlog as well, so closing this issue.

[2022-02-01 00:38] #226 closed

[2022-02-01 00:39] bhack commented on #223
In general this is a still valid topic but:

- For TF Addons we could close this as we have:
https://github.com/keras-team/keras-cv/issues/74
https://github.com/keras-team/keras-nlp/issues/11

- More in general for the ecosystem I could add a reference to this ticket in  https://github.com/tensorflow/community/pull/384

[2022-02-01 00:39] #223 closed

[2022-02-01 00:48] bhack commented on #29
Yes we made many progress recently considering that this was a 2018 ticket. There is still a lot to do but we are on the right path.

[2022-02-01 15:23] stromal commented on #294
The signup worked (hopefully), I haven't received a confirmation mail even after 5 min.
This is how the site looks like just after the sign up.
![2022 02 01 tensorflow email signup](https://user-images.githubusercontent.com/19979901/151996941-b939f69f-c4e0-4afc-a0f9-18ae404dfb11.JPG)

[2022-02-01 18:37] theadactyl commented on #294
I'm also getting the broken image -- no confirmation email might be by design, but I'm checking with newsletter team.

[2022-02-01 22:54] stromal commented on #294
Please update this thread if you get to know anything. This is quiet problematic because I would love to be more involved with the core team's vision.

[2022-02-11 15:04] bhack opened #412 "API ownership"
As we still maintain here the [API governance](https://github.com/tensorflow/community/blob/master/governance/api-reviews.md) I want to ask if it could be possible to expose for transparency the API ownership in our community.

We had a tangential discussion at https://github.com/tensorflow/tensorflow/pull/51739#issuecomment-946157182 as we have still really a very limited public API ownership in

[2022-03-07 18:53] ematejska commented on #412
Thanks for this issue. Following up with the API Owners.

[2022-03-07 21:01] kristenrq commented on #294
@stromal Hello! That is correct, viewing that page is confirmation of signup;  there is no additional email.

That image _is_ broken, however. Thank you for reporting!

[2022-03-08 09:12] stromal commented on #294
I still haven't received a single newsletter email from TensorFlow. Can anyone look in to this? Is there anyone who receives any newsletter emails?

[2022-03-10 12:04] bhack commented on #412
@ematejska As you can see also in https://github.com/keras-team/keras-cv/pull/146#issuecomment-1063974863 it is always hard to interact/mention the right codeowner if we don't adopt a codeowner transparency.

[2022-03-15 21:34] bhack commented on #412
The last case was confirmed https://github.com/keras-team/keras-cv/pull/146#issuecomment-1068486128 like in https://github.com/keras-team/keras-cv/issues/74#issuecomment-1035597742

[2022-03-15 21:34] bhack commented on #412
/cc @theadactyl

[2022-03-15 21:40] wangpengmit commented on #412
cc @rohan100jain

[2022-04-12 13:55] bhack opened #413 "PR internally edited as CL are not automatically merged"
Community PRs that are internally edited by TF members on the mirrored CL are not going to be automatically merge the PR and they needs to be manually closed.
Other then requiring extra manual work it is going to alter some automated stats as these will be classified as community rejected PRs instead that accepted PRs.

This is the list limited to 2022:
PR: [#55413](https://github.com/tensorflow/t

[2022-04-12 14:18] bhack commented on #413
/cc @theadactyl @yarri-oss

[2022-04-14 16:41] Pasio47DBG opened #414 "Häufig gestellte Fragen zum Entsperren des Bootloaders von Mi-Geräten: Ankündigung, Fehlerbehebung und Tipps – Allgemein – Xiaomi Community – Xiaomi"
https://c.mi.com/thread-2262302-1-0.html

[2022-04-14 16:42] #414 closed

[2022-04-15 18:27] mihaimaruseac commented on #413
This seems fixed now as of https://github.com/tensorflow/tensorflow/pull/54377

[2022-04-15 20:38] bhack commented on #413
We are not in the same case as the listed PRs.

Your example was always working as the merge commit you have pushed in master has the right reference parent on the PR branch head hash.

I don't know what they are doing internally on the PRs I've listed above but the merge commit pushed on master don't reference anymore the PR branch head as a partent.

So there is still something in the internal d

[2022-04-16 11:39] bhack commented on #413
As you are example is a regular I think it is not related to the problem we have.
We need to take the first PR in my list:
https://github.com/tensorflow/tensorflow/pull/55413/commits
![immagine](https://user-images.githubusercontent.com/1710528/163673265-51c89332-2afc-4032-9ec3-fedc23e75f4d.png)

This commit (PR branch head) is not available in master as the merge pushed in master has no reference

[2022-04-18 14:35] bhack commented on #413
It happened again now on https://github.com/tensorflow/tensorflow/pull/55529:

`PiperOrigin-RevId: 442524189`

What difference you see internally from https://github.com/tensorflow/tensorflow/pull/54377 (PiperOrigin-RevId: 442056945)?

[2022-04-18 19:43] bhack commented on #413
5 hours ago, another pushed merge on an intermediate PR commit:
https://github.com/tensorflow/tensorflow/pull/55518

[2022-04-20 17:49] mihaimaruseac commented on #413
This is a different scenario than the one we considered when this was closed.

[2022-04-20 18:06] bhack commented on #413
I think here we could focus on the first point:

[2022-04-21 00:22] mihaimaruseac commented on #413
So, for tensorflow/tensorflow#55529, the internal changelist looks like

![Screenshot from 2022-04-20 17-00-11](https://user-images.githubusercontent.com/323199/164343973-c9800171-43ad-44b3-91ab-4d1305965e4d.png)

This diff is not different than the PR

![Screenshot from 2022-04-20 17-00-26](https://user-images.githubusercontent.com/323199/164343991-434c0737-bf59-45bb-8fa9-43edc5a1d431.png)

Also,

[2022-04-21 00:25] mihaimaruseac commented on #413
Though the merge theory doesn't apply for tensorflow/tensorflow#55518

[2022-04-21 01:19] mihaimaruseac commented on #413
Updated: this seems to be a internal tooling problem. Internal team has been notified

[2022-07-12 11:00] bhack commented on #412
Check also the recent policy change in pytorch:
https://github.com/pytorch/pytorch/pull/78850/files

[2022-07-12 15:17] bhack opened #418 "SIG Networking status"
What is the status of [SIG Networking](https://github.com/tensorflow/community/blob/master/sigs/networking/CHARTER.md)?

Is it going [to be terminated](https://github.com/tensorflow/community/blob/master/sigs/networking/CHARTER.md)?

I don't see any kind of traffic or meeting.

[2022-08-17 06:08] CrackerHax commented on #148
this worked. also need:
`from collections import namedtuple`

[2022-08-27 17:39] bhack opened #425 "Contributors are still not notfied after a PR rollback"
Contributors are still not notified when we are going to rollback PR merge.
Also in the case we have a linked issue to the PR it is not reopened or commented by the bot.

Contributors still thinks that their contributions was merged without any other notification.

Just an example:
https://github.com/tensorflow/tensorflow/pull/57478

/cc @theadactyl @joanafilipa @learning-to-play @gbaned @mdanatg

[2022-08-27 23:36] mihaimaruseac commented on #425
Seems to be caused by there being a PR being created to a wrong branch: https://github.com/tensorflow/tensorflow/pull/57012

[2022-08-27 23:39] mihaimaruseac commented on #425
Actually, here is the action that ran to create rollback PR:

https://github.com/tensorflow/tensorflow/actions/runs/2784555032

This is weird

[code]

[2022-08-27 23:45] mihaimaruseac commented on #425
Next time the action worked we got it finished successfully: #56572 rollback caused #57115

Action is https://github.com/tensorflow/tensorflow/actions/runs/2843891794

[2022-08-28 00:41] bhack commented on #425
I didn't read the action source code but your last case seems different as it was not exactly a merge on the PR commit.

[2022-08-28 10:46] bhack commented on #425
@mihaimaruseac I read the code and the log a bit but I cannot mention the author as the commits related to that Github Action contribution was masqueraded by the @tensorflower-gardener  "anon user".

I guess that the difference between your example and mine is that assigning the ticket also to me, or other contributors, with my role/permission is going to create an error.

https://docs.github.com/

[2022-08-29 11:21] bhack commented on #425
To summarize:

1.  @mihaimaruseac Can you check if I still have [read access to the TF repo](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization)?

2. More in general, for the "unknown team member" that contributed that Github Action, [his assumption is wrong](https://github.com/tensorflow/tensorflow/blob/master/.github/w

[2022-08-29 16:11] mihaimaruseac commented on #425
Thanks for the debugging. I agree that we should probably do `CC @user` inside the body of the issue.

CC @learning-to-play to handle this

[2022-08-29 16:31] bhack commented on #425
Just a note.

Point 1. was caused by a permission incident we had also on my account. Now the action runned fine:
https://github.com/tensorflow/tensorflow/runs/8075237000?check_suite_focus=true

Point 2. It is a bug so it still need to be fixed as not all PR submitters are team members.

[2022-09-14 10:52] bhack commented on #412
We have an example of API ownership at:
https://pytorch.org/docs/stable/community/persons_of_interest.html

[2022-10-04 07:00] Manmansui commented on #148
Try this approach:

1st: Download tensorflow addons from https://github.com/tensorflow/addons
<img width="658" alt="image" src="https://user-images.githubusercontent.com/58104737/193754405-a9a0bf42-8cfd-43a8-b499-406e40615118.png">
Then move the tensorflow_addons folder to ..tensorflow\Lib\site-packages where all the packages contain

2nd: change the red higlight to green
<img width="425" alt="ima

[2022-10-28 18:08] bhack commented on #425
Please note that also PR reviewers are not notified on the rollback:

https://github.com/tensorflow/tensorflow/issues/58332#issuecomment-1295298881